#chatbox {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 180px;
  height: 200px;
  z-index: 400;
  background-color: #f7f7f7;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  padding: 3px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
}
#chattext {
  background-color: white;
  border: 1px solid white;
  -ms-overflow-y: scroll;
  overflow-y: scroll;
  font-size: 12px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 25px;
  bottom: 25px;
  z-index: 1002;
}
#chattext p {
  padding: 3px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
.chatloadmessages
{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#chatloadmessagesbutton
{
  line-height: 1.8em;
}
#chatloadmessagesball
{
  display: none;
}
#chatinputbox {
  padding: 3px 2px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 3px;
}
#chatlabel {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  margin-right: 3px;
  vertical-align: middle;
}
#chatinput {
  border: 1px solid #BBBBBB;
  width: 100%;
  float: right;
}
#chaticon {
  z-index: 400;
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding: 5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
#chaticon a {
  text-decoration: none
}
#chatcounter {
  color: #777;
  font-size: 10px;
  vertical-align: middle;
}
#chattext p {
  word-wrap: break-word
}

#titlebar {
  line-height: 16px;
  font-weight: bold;
  color: #555;
  position: relative;
  bottom: 2px;
}
#titlelabel {
  font-size: 13px;
  margin: 4px 0 0 4px;
  position: absolute;
}
#titlesticky{
  font-size: 10px;
  padding-top:2px;
  float: right;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
#titlecross {
  font-size: 25px;
  float: right;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  color: #555;
}

.stickyChat {
  background-color: #f1f1f1 !important;
  right: 0px !important;
  top: 37px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  height: auto !important;
  border: none !important;
  border-left: 1px solid #ccc !important;
  width: 185px !important;
}
.chatAndUsers{
  display:block !important;
  right:0px !important;
  border-radius:0px !important;
  width:182px !important;
/* Below makes UI look weird when X makes editbar flow onto two lines */
/*  margin:2px 0 0 0 !important;*/
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  height:155px !important;
  border-left: 1px solid #ccc !important;
}
.chatAndUsers > #otherusers{
  max-height: 100px;
  overflow-y: auto;
}
.chatAndUsersChat > div > #titlecross{
  display:none;
}
.chatAndUsersChat{
  bottom:0px !important;
  padding:0 !important;
  margin: 165px 0px 0px 0px;
  right:0 !important;
  width:182px !important;
  border: none !important;
  padding:5px !important;
  border-left: 1px solid #ccc !important;
}
#chatthrob {
  display: none;
  position: absolute;
  bottom: 40px;
  font-size: 14px;
  width: 150px;
  height: 40px;
  right: 20px;
  z-index: 200;
  background-color: #000;
  color: white;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}
@media only screen and (max-width: 720px) {
  #chaticon {
    position:fixed;
    right:48px;
  }
  #chatbox {
    position:fixed;
    bottom:33px !important;
    margin: 65px 0 0 0;
  }
}
