/* Montserrat Font */
@font-face {
  font-family: "Montserrat";
  src: url("../../../static/font/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../../static/font/Montserrat-Regular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
/* End of Monterrat Font */

@font-face {
  font-family: opendyslexic;
  src: url("../../../static/font/opendyslexic.otf") format("opentype");
}
@font-face {
    font-family: "RobotoMono";
    src: url("../../../static/font/RobotoMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono";
    src: url("../../../static/font/RobotoMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../../../static/font/Quicksand-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../../../static/font/Quicksand-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../../../static/font/Quicksand-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../static/font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../static/font/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Medium'), local('Alegreya-Medium'),
       url('../../../static/font/Aleygreya-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../../static/font/Aleygreya-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'),
       url('../../../static/font/Aleygreya-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../../static/font/Aleygreya-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}