#gritter-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
}

.gritter-item {
  position: relative;
  max-width: 400px;
  min-width: 0;
  margin: 0 auto;
  display: flex;
}

.gritter-item .gritter-content {
  flex: 1 auto;
  text-align: center;
}

.gritter-item .gritter-close {
  display: none;
  align-self: center;
}

.gritter-item.sticky .gritter-close {
  display: block;
}

.gritter-item.error {
  color: #a84341;
  background-color: #eed3d4;
}