#editorloadingbox {
  width: 100%;
  z-index: 100;
  position: absolute;
}

.editorloadingbox-message {
  padding-top: 100px;
  font-size: 2.5em;
  color: #aaa;
  text-align: center;
}

#editorloadingbox input{
  padding:10px;
}

#editorloadingbox button{
  padding:10px;
}

#permissionDenied, #noCookie {
  display:none;
}
