.readonly .acl-write {
  display: none;
}
.exportlink {
  margin-bottom: 5px;
  display: block;
}
.exporttype:before {
  margin-right: 5px !important;
}

/* hidden element */
#importstatusball,
#importmessagesuccess,
#importmessageabiword {
  display: none;
}

#importmessageabiword {
  color: #900;
  font-size: small;
}

#importsubmitinput {
  margin-top: 12px;
  padding: 2px 4px 2px 4px;
}