.readonly .acl-write {
  display: none;
}
.exportlink {
  margin-bottom: 10px;
  display: block;
}
.exporttype:before {
  margin-right: 10px !important;
}

/* hidden element */
#importstatusball,
#importmessagesuccess,
#importmessageabiword {
  display: none;
}

#importmessageabiword {
  color: #900;
  font-size: small;
}

#importsubmitinput {
  margin-top: 10px;
}