<li class="separator"></li>
<li class="addComment">
    <a title="Add new comment on selection" data-l10n-id="ep_comments.add_comment.title">
      <span class="buttonicon buttonicon-comment-medical"></span>
    </a>
</li>
