version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/src"
    schedule:
      interval: "daily"
    versioning-strategy: "increase"
  - package-ecosystem: "npm"
    directory: "/src/bin/doc"
    schedule:
      interval: "daily"
    versioning-strategy: "increase"
