language: node_js
node_js:
  - "0.10"
install:
  - "bin/installDeps.sh"
  - "export GIT_HASH=$(cat .git/HEAD | head -c 7)"
before_script:
  - "tests/frontend/travis/sauce_tunnel.sh"
script:
  - "tests/frontend/travis/runner.sh"
env:
  global:
    - secure: "WMGxFkOeTTlhWB+ChMucRtIqVmMbwzYdNHuHQjKCcj8HBEPdZLfCuK/kf4rG\nVLcLQiIsyllqzNhBGVHG1nyqWr0/LTm8JRqSCDDVIhpyzp9KpCJQQJG2Uwjk\n6/HIJJh/wbxsEdLNV2crYU/EiVO3A4Bq0YTHUlbhUqG3mSCr5Ec="
    - secure: "gejXUAHYscbR6Bodw35XexpToqWkv2ifeECsbeEmjaLkYzXmUUNWJGknKSu7\nEUsSfQV8w+hxApr1Z+jNqk9aX3K1I4btL3cwk2trnNI8XRAvu1c1Iv60eerI\nkE82Rsd5lwUaMEh+/HoL8ztFCZamVndoNgX7HWp5J/NRZZMmh4g="
jdk:
  - oraclejdk6
notifications:
  irc:
    channels:
      - "irc.freenode.org#etherpad-lite-dev"
