language: node_js

node_js:
  - "lts/*"

services:
  - docker

cache: false

env:
  global:
    - secure: "WMGxFkOeTTlhWB+ChMucRtIqVmMbwzYdNHuHQjKCcj8HBEPdZLfCuK/kf4rG\nVLcLQiIsyllqzNhBGVHG1nyqWr0/LTm8JRqSCDDVIhpyzp9KpCJQQJG2Uwjk\n6/HIJJh/wbxsEdLNV2crYU/EiVO3A4Bq0YTHUlbhUqG3mSCr5Ec="
    - secure: "gejXUAHYscbR6Bodw35XexpToqWkv2ifeECsbeEmjaLkYzXmUUNWJGknKSu7\nEUsSfQV8w+hxApr1Z+jNqk9aX3K1I4btL3cwk2trnNI8XRAvu1c1Iv60eerI\nkE82Rsd5lwUaMEh+/HoL8ztFCZamVndoNgX7HWp5J/NRZZMmh4g="

_install_plugins: &install_plugins >-
  npm install
  ep_align
  ep_author_hover
  ep_cursortrace
  ep_font_size
  ep_hash_auth
  ep_headings2
  ep_markdown
  ep_spellcheck
  ep_subscript_and_superscript
  ep_table_of_contents

jobs:
  include:
    # we can only frontend tests from the ether/ organization and not from forks.
    # To request tests to be run ask a maintainer to fork your repo to ether/
    - if: fork = false
      name: "Test the Frontend without Plugins"
      install:
        #FIXME
        - "sed 's/\"loglevel\": \"INFO\",/\"loglevel\": \"WARN\",/g' settings.json.template > settings.json"
        - "tests/frontend/travis/sauce_tunnel.sh"
        - "bin/installDeps.sh"
        - "export GIT_HASH=$(git rev-parse --verify --short HEAD)"
      script:
        - "travis_wait 15 tests/frontend/travis/runner.sh"
      #output 100 lines at once to prevent travis from truncating the log
      after_script:
        - "cat /tmp/remote_runner.log | (lines=0; while read line; do echo -e \"${line}\"; if [ $((++lines % 100)) -eq 0 ]; then sleep 1; fi; done)"
    - name: "Run the Backend tests without Plugins"
      install:
        - "sudo add-apt-repository -y ppa:libreoffice/ppa"
        - "sudo apt-get update"
        - "sudo apt-get -y install libreoffice"
        - "sudo apt-get -y install libreoffice-pdfimport"
        - "bin/installDeps.sh"
        - "cd src && npm install && cd -"
      script:
        - "tests/frontend/travis/runnerBackend.sh"
    - name: "Test the Dockerfile"
      install:
        - "cd src && npm install && cd -"
      script:
        - "docker build -t etherpad:test ."
        - "docker run -d -p 9001:9001 etherpad:test && sleep 3"
        - "cd src && npm run test-container"
    - name: "Load test Etherpad without Plugins"
      install:
        - "bin/installDeps.sh"
        - "cd src && npm install && cd -"
        - "npm install -g etherpad-load-test"
      script:
        - "tests/frontend/travis/runnerLoadTest.sh"
    # we can only frontend tests from the ether/ organization and not from forks.
    # To request tests to be run ask a maintainer to fork your repo to ether/
    - if: fork = false
      name: "Test the Frontend Plugins only"
      install:
        #FIXME
        - "sed 's/\"loglevel\": \"INFO\",/\"loglevel\": \"WARN\",/g' settings.json.template > settings.json"
        - "tests/frontend/travis/sauce_tunnel.sh"
        - "bin/installDeps.sh"
        - "rm tests/frontend/specs/*"
        - *install_plugins
        - "export GIT_HASH=$(git rev-parse --verify --short HEAD)"
      script:
        - "travis_wait 15 tests/frontend/travis/runner.sh"
      #output 100 lines/sec to prevent travis from truncating the log
      after_script:
        - "cat /tmp/remote_runner.log | (lines=0; while read line; do echo -e \"${line}\"; if [ $((++lines % 100)) -eq 0 ]; then sleep 1; fi; done)"
    - name: "Lint test package-lock.json"
      install:
        - "npm install lockfile-lint"
      script:
        - npx lockfile-lint --path src/package-lock.json --validate-https --allowed-hosts npm
    - name: "Run the Backend tests with Plugins"
      install:
        - "sudo add-apt-repository -y ppa:libreoffice/ppa"
        - "sudo apt-get update"
        - "sudo apt-get -y install libreoffice"
        - "sudo apt-get -y install libreoffice-pdfimport"
        - "bin/installDeps.sh"
        - *install_plugins
        - "cd src && npm install && cd -"
      script:
        - "tests/frontend/travis/runnerBackend.sh"
    - name: "Test the Dockerfile"
      install:
        - "cd src && npm install && cd -"
      script:
        - "docker build -t etherpad:test ."
        - "docker run -d -p 9001:9001 etherpad:test && sleep 3"
        - "cd src && npm run test-container"
    - name: "Load test Etherpad with Plugins"
      install:
        - "bin/installDeps.sh"
        - *install_plugins
        - "cd src && npm install && cd -"
        - "npm install -g etherpad-load-test"
      script:
        - "tests/frontend/travis/runnerLoadTest.sh"
    - name: "Test rate limit"
      install:
        - "docker network create --subnet=172.23.42.0/16 ep_net"
        - "docker build -f Dockerfile -t epl-debian-slim ."
        - "docker build -f tests/ratelimit/Dockerfile.nginx -t nginx-latest ."
        - "docker build -f tests/ratelimit/Dockerfile.anotherip -t anotherip ."
        - "docker run -p 8081:80 --rm --network ep_net --ip 172.23.42.1 -d nginx-latest"
        - "docker run --name etherpad-docker -p 9000:9001 --rm --network ep_net --ip 172.23.42.2 -e 'TRUST_PROXY=true' epl-debian-slim &"
        - "docker run --rm --network ep_net --ip 172.23.42.3 --name anotherip -dt anotherip"
        - "./bin/installDeps.sh"
      script:
        - "cd tests/ratelimit && bash testlimits.sh"

notifications:
  irc:
    channels:
      - "irc.freenode.org#etherpad-lite-dev"
