<hr>
<li><a href="#" data-key="align" class="font_size">Font size</a>
  <ul class="submenu">
    <select id="font-size" class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">Font Size</option>
        <option value="0">8</option>
        <option value="1">9</option>
        <option value="2">10</option>
        <option value="3">11</option>
        <option value="4">12</option>
        <option value="5">13</option>
        <option value="6">14</option>
        <option value="7">15</option>
        <option value="8">16</option>
        <option value="9">17</option>
        <option value="10">18</option>
        <option value="11">19</option>
        <option value="12">20</option>
        <option value="13">22</option>
        <option value="14">24</option>
        <option value="15">26</option>
        <option value="16">28</option>
        <option value="17">30</option>
        <option value="18">35</option>
        <option value="19">40</option>
        <option value="20">45</option>
        <option value="21">50</option>
        <option value="22">60</option>
    </select>
  </ul>
</li>
