<!doctype html>
<html>
    <head>
      <title>JavaScript license information</title>
      <link rel="manifest" href="/manifest.json" />
      <meta charset="utf-8">
          <meta name="robots" content="noindex, nofollow">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <table id="jslicense-labels1">
            <tr>
                <td><a href="/static/js/vendors/jquery-3.0.0.min.js">jquery-3.0.1.min.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/vendors/jquery.js">jquery.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/vendors/html10n.js">html10n.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/vendors/html10n.js">html10n.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/vendors/l10n.js">l10n.js</a></td>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
                <td><a href="/static/js/vendors/l10n.js">l10n.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/vendors/socket.io.js">socket.io.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/vendors/socket.io.js">socket.io.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/require-kernel.js">require-kernel.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/require-kernel.js">require-kernel.js</a></td>
            </tr>
            <tr>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
            </tr>
            <tr>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
            </tr>
            <tr>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
            </tr>
            <tr>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
            </tr>
        </table>
    </body>
</html>
