<!doctype html>
<html>
    <head>
      <title>JavaScript license information</title>
          <meta charset="utf-8">
          <meta name="robots" content="noindex, nofollow">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <table id="jslicense-labels1">
            <tr>
                <td><a href="/static/js/jquery-2.1.1.min.js">jquery-2.1.1.min.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/jquery.js">jquery.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/html10n.js">html10n.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/html10n.js">html10n.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/l10n.js">l10n.js</a></td>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
                <td><a href="/static/js/l10n.js">l10n.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/socket.io.js">socket.io.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/socket.io.js">socket.io.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/require-kernel.js">require-kernel.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/require-kernel.js">require-kernel.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/admin/plugins.js">plugins.js</a></td>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
                <td><a href="/static/js/admin/plugins.js">plugins.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/admin/minify.json.js">minify.json.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/admin/minify.json.js">minify.json.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/admin/settings.js">settings.js</a></td>
                <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a></td>
                <td><a href="/static/js/admin/settings.js">settings.js</a></td>
            </tr>
            <tr>
                <td><a href="/static/js/admin/jquery.autosize.js">jquery.autosize.js</a></td>
                <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
                <td><a href="/static/js/admin/jquery.autosize.js">jquery.autosize.js</a></td>
            </tr>
        </table>
    </body>
</html>
