<%
  var settings = require("ep_etherpad-lite/node/utils/Settings");
%>
<!doctype html>
<html>

        <title>Etherpad Lite</title>

        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <% e.begin_block("styles"); %>
            <link href="../static/css/pad.css" rel="stylesheet">
            <link href="../static/custom/pad.css" rel="stylesheet">
            <style title="dynamicsyntax"></style>
        <% e.end_block(); %>

        <!-- head and body had been removed intentionally -->

        <div id="editbar" class="toolbar">
            <ul class="menu_left">
	        <% e.begin_block("editbarMenuLeft"); %>
		    <li id="bold" onClick="window.pad&amp;&amp;pad.editbarClick('bold');return false">
			<a class="buttonicon buttonicon-bold" title="Bold (ctrl-B)"></a>
		    </li>
		    <li id="italic" onClick="window.pad&amp;&amp;pad.editbarClick('italic'); return false;">
			<a class="buttonicon buttonicon-italic" title="Italics (ctrl-I)"></a>
		    </li>
		    <li id="underline" onClick="window.pad&amp;&amp;pad.editbarClick('underline');return false;" >
			<a class="buttonicon buttonicon-underline" title="Underline (ctrl-U)"></a>
		    </li>
		    <li id="strikethrough" onClick="window.pad&amp;&amp;pad.editbarClick('strikethrough');return false;">
			<a class="buttonicon buttonicon-strikethrough" title="Strikethrough"></a>
		    </li>
		    <li class="separator"></li>
		    <li id="oderedlist" onClick="window.pad&amp;&amp;pad.editbarClick('insertorderedlist');return false;">
			<a class="buttonicon buttonicon-insertorderedlist" title="Toggle Ordered List"></a>
		    </li>
		    <li id="unoderedlist" onClick="window.pad&amp;&amp;pad.editbarClick('insertunorderedlist');return false;">
			<a class="buttonicon buttonicon-insertunorderedlist" title="Toggle Bullet List"></a>
		    </li>
		    <li id="indent" onClick="window.pad&amp;&amp;pad.editbarClick('indent');return false;">
			<a class="buttonicon buttonicon-indent" title="Indent"></a>
		    </li>
		    <li id="outdent" onClick="window.pad&amp;&amp;pad.editbarClick('outdent');return false;">
			<a class="buttonicon buttonicon-outdent" title="Unindent"></a>
		    </li>
		    <li class="separator"></li>
		    <li id="undo" onClick="window.pad&amp;&amp;pad.editbarClick('undo');return false;">
			<a class="buttonicon buttonicon-undo" title="Undo (ctrl-Z)"></a>
		    </li>
		    <li id="redo" onClick="window.pad&amp;&amp;pad.editbarClick('redo');return false;">
			<a class="buttonicon buttonicon-redo" title="Redo (ctrl-Y)"></a>
		    </li>
		    <li class="separator"></li>
		    <li id="clearAuthorship" onClick="window.pad&amp;&amp;pad.editbarClick('clearauthorship');return false;">
			<a class="buttonicon buttonicon-clearauthorship" title="Clear Authorship Colors"></a>
		    </li>
		<% e.end_block(); %>
            </ul>    
            <ul class="menu_right">
	        <% e.begin_block("editbarMenuRight"); %>
                    <li onClick="window.pad&amp;&amp;pad.editbarClick('savedRevision');return false;">
                        <a id="settingslink" title="Mark this revision as a saved revision">
                            <div class="buttonicon buttonicon-savedRevision"></div>
                        </a>
                    </li>
		    <li id="settingslink" onClick="window.pad&amp;&amp;pad.editbarClick('settings');return false;">
			<a class="buttonicon buttonicon-settings" id="settingslink" title="Settings of this pad"></a>
		    </li>
		    <li id="importexportlink" onClick="window.pad&amp;&amp;pad.editbarClick('import_export');return false;">
			<a class="buttonicon buttonicon-import_export" id="exportlink" title="Import/Export from/to different document formats"></a>
		    </li>
		    <li id="embedlink" onClick="window.pad&amp;&amp;pad.editbarClick('embed');return false;" >
			<a class="buttonicon buttonicon-embed" id="embedlink" title="Share and Embed this pad"></a>
		    </li>
		    <li class="separator"></li>
		    <li id="timesliderlink" onClick="document.location = document.location.pathname+ '/timeslider'">
			<a class="buttonicon buttonicon-history" title="Show the history of this pad"></a>
		    </li>
		    <li id="usericon" onClick="window.pad&amp;&amp;pad.editbarClick('showusers');return false;" title="Show connected users">
			<span class="buttonicon buttonicon-showusers" id="usericonback"></span>
			<span id="online_count">1</span>
		    </li>
		<% e.end_block(); %>
            </ul>
        </div>

        <div id="users">
            <div id="connectionstatus"></div>
            <div id="myuser">
                <div id="mycolorpicker">
                    <div id="colorpicker"></div>
                    <button id="mycolorpickersave">Save</button>
                    <button id="mycolorpickercancel">Cancel</button>
                    <span id="mycolorpickerpreview" class="myswatchboxhoverable"></span>
                </div>   
                <div id="myswatchbox"><div id="myswatch"></div></div>
                <div id="myusernameform"><input type="text" id="myusernameedit" disabled="disabled"></div>
                <div id="mystatusform"><input type="text" id="mystatusedit" disabled="disabled"></div>   
            </div>
            <div id="otherusers">
                <div id="guestprompts"></div>
                <table id="otheruserstable" cellspacing="0" cellpadding="0" border="0">
                    <tr><td></td></tr>
                </table>
                <div id="nootherusers"></div>       
            </div>
            <div id="userlistbuttonarea"></div>
        </div>

        <div id="editorcontainerbox">
            <div id="editorcontainer"></div>
            <div id="editorloadingbox">Loading...</div>
        </div>

        <div id="settingsmenu" class="popup">
            <h1>Pad settings</h1>
            <div class="column">
                <h2>My view</h2>
                <p>
                    <input type="checkbox" id="options-stickychat" onClick="chat.stickToScreen();">
                    <label for="options-stickychat">Chat always on screen</label>
                </p>
                <p>
                    <input type="checkbox" id="options-colorscheck">
                    <label for="options-colorscheck">Authorship colors</label>
                </p>
                <p>
                    <input type="checkbox" id="options-linenoscheck" checked>
                    <label for="options-linenoscheck">Line numbers</label>
                </p>
                <p>
                    Font type:
                    <select id="viewfontmenu">
                        <option value="normal">Normal</option>
                        <option value="monospace">Monospaced</option>
                    </select>
                </p>
            </div>
            <div class="column">
                <h2>Global view</h2>
                <p>Currently nothing.</p>
                <p class="note">These options affect everyone viewing this pad.</p>
            </div>
        </div>

        <div id="importexport" class="popup">
            <div class="column">
                <h2>Import from text file, HTML, PDF, Word, ODT or RTF</h2><br>
                <form id="importform" method="post" action="" target="importiframe" enctype="multipart/form-data">
                    <div class="importformdiv" id="importformfilediv"> 
                        <input type="file" name="file" size="15" id="importfileinput"> 
                        <div class="importmessage" id="importmessagefail"></div> 
                    </div> 
                    <div id="import"></div>
                    <div class="importmessage" id="importmessagesuccess">Successful!</div> 
                    <div class="importformdiv" id="importformsubmitdiv"> 
                        <input type="hidden" name="padId" value="blpmaXT35R"> 
                        <span class="nowrap"> 
                            <input type="submit" name="submit" value="Import Now" disabled="disabled" id="importsubmitinput"> 
                            <img alt="" id="importstatusball" src="../static/img/loading.gif" align="top"> 
                            <img alt="" id="importarrow" src="../static/img/leftarrow.png" align="top"> 
                        </span> 
                    </div> 
                </form>
            </div>
            <div class="column">
                <h2>Export current pad as</h2>
                <a id="exporthtmla" target="_blank" class="exportlink"><div class="exporttype" id="exporthtml">HTML</div></a>
                <a id="exportplaina" target="_blank" class="exportlink"><div class="exporttype" id="exportplain">Plain text</div></a>
                <a id="exportworda" target="_blank" class="exportlink"><div class="exporttype" id="exportword">Microsoft Word</div></a>
                <a id="exportpdfa" target="_blank" class="exportlink"><div class="exporttype" id="exportpdf">PDF</div></a>
                <a id="exportopena" target="_blank" class="exportlink"><div class="exporttype" id="exportopen">OpenDocument</div></a>
                <a id="exportdokuwikia" target="_blank" class="exportlink"><div class="exporttype" id="exportdokuwiki">DokuWiki text</div></a>
                <a id="exportwordlea" target="_blank" onClick="padimpexp.export2Wordle();return false;" class="exportlink"><div class="exporttype" id="exportwordle">Wordle</div></a>
            </div>
        </div>

        <div id="embed" class="popup">
            <div id="embedreadonly" class="right">
                <input type="checkbox" id="readonlyinput" onClick="padeditbar.setEmbedLinks();">
                <label for="readonlyinput">Read only</label>
            </div>
            <h1>Share this pad</h1>
            <div id="linkcode">
                <h2>Link</h2>
                <input id="linkinput" type="text" value="">
            </div>
            <br>
            <div id="embedcode">
                <h2>Embed URL</h2>
                <input id="embedinput" type="text" value="">
            </div>
            <br>
            <div id="qrcode">
                <h2>QR code</h2>
                <div id="qr_center"><img id="embedreadonlyqr"></div>
            </div>
        </div>

        <div id="chatthrob"></div>

        <div id="chaticon" title="Open the chat for this pad" onclick="chat.show();return false;">
            <span id="chatlabel">Chat</span>
            <span class="buttonicon buttonicon-chat"></span>
            <span id="chatcounter">0</span>
        </div>

        <div id="chatbox">
            <div id="titlebar"><span id ="titlelabel">Chat</span><a id="titlecross" onClick="chat.hide();return false;">-&nbsp;</a></div>
            <div id="chattext" class="authorColors"></div>
            <div id="chatinputbox">
                <form>
                    <input id="chatinput" type="text" maxlength="140">
                </form>
            </div>
        </div>

        <div id="focusprotector">&nbsp;</div>

        <div id="modaloverlay">
            <div id="modaloverlay-inner"></div>
        </div>
        
        <div id="mainmodals">
            <% e.begin_block("modals"); %>
                <div id="connectionbox" class="modaldialog">
                    <div id="connectionboxinner" class="modaldialog-inner">
                        <div class="connecting">Connecting...</div>
                        <div class="reconnecting">Reestablishing connection...</div>
                        <div class="disconnected">
                            <h2 class="h2_disconnect">Disconnected.</h2>
                            <h2 class="h2_userdup">Opened in another window.</h2>
                            <h2 class="h2_unauth">No Authorization.</h2>
                            <div id="disconnected_looping">
                                <p><b>We're having trouble talking to the EtherPad lite synchronization server.</b> You may be connecting through an incompatible firewall or proxy server.</p>
                            </div>
                            <div id="disconnected_initsocketfail">
                                <p><b>We were unable to connect to the EtherPad lite synchronization server.</b> This may be due to an incompatibility with your web browser or internet connection.</p>
                            </div>
                            <div id="disconnected_userdup">
                                <p><b>You seem to have opened this pad in another browser window.</b> If you'd like to use this window instead, you can reconnect.</p>
                            </div>
                            <div id="disconnected_unknown">
                                <p><b>Lost connection with the EtherPad lite synchronization server.</b> This may be due to a loss of network connectivity.</p>
                            </div>
                            <div id="disconnected_slowcommit">
                                <p><b>Server not responding.</b> This may be due to network connectivity issues or high load on the server.</p>
                            </div>
                            <div id="disconnected_unauth">
                                <p>Your browser's credentials or permissions have changed while viewing this pad. Try reconnecting.</p>
                            </div>
                            <div id="disconnected_deleted">
                                <p>This pad was deleted.</p>
                            </div>
                            <div id="reconnect_advise">
                                <p>If this continues to happen, please let us know</p>
                            </div>
                            <div id="reconnect_form">
                                <button id="forcereconnect">Reconnect Now</button>
                            </div>
                        </div>
                    </div>
                    <form id="reconnectform" method="post" action="/ep/pad/reconnect" accept-charset="UTF-8" style="display: none;">
                        <input type="hidden" class="padId" name="padId">
                        <input type="hidden" class="diagnosticInfo" name="diagnosticInfo">
                        <input type="hidden" class="missedChanges" name="missedChanges">
                    </form>
                </div>
            <% e.end_block(); %>
        </div>
 
        <% e.begin_block("scripts"); %>
            <script type="text/javascript" src="../static/js/require-kernel.js"></script>
            <script type="text/javascript" src="../static/js/jquery.js"></script>
            <script type="text/javascript" src="../socket.io/socket.io.js"></script>
            <% if (settings.minify) { %>
              <script type="text/javascript" src="../javascripts/lib/ep_etherpad-lite/static/js/pad.js?callback=require.define"></script>
            <% } %>
            <script type="text/javascript">
                document.domain = document.domain;
                var clientVars = {};
                (function () {
                  <% if (settings.minify) { %>
                    require.setRootURI("../javascripts/src");
                    require.setLibraryURI("../javascripts/lib");
                    require.setGlobalKeyPath("require");
                  <% } else { %>
                    require.setRootURI("../static/js");
                    require.setLibraryURI("../static/plugins");
                  <% } %>

                  var plugins = require('ep_etherpad-lite/static/js/pluginfw/plugins');
                  plugins.update(function () {
                    require('ep_etherpad-lite/static/js/pad').init();
                  });

                  /* TODO: These globals shouldn't exist. */
                  pad = require('ep_etherpad-lite/static/js/pad').pad;
                  chat = require('ep_etherpad-lite/static/js/chat').chat;
                  padeditbar = require('ep_etherpad-lite/static/js/pad_editbar').padeditbar;
                  padimpexp = require('ep_etherpad-lite/static/js/pad_impexp').padimpexp;
                }());
            </script>
        <% e.end_block(); %>
</html>
