<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">

  <title>Etherpad Lite Timeslider</title>

  <link rel="shortcut icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../static/css/pad.css">
  <link rel="stylesheet" href="../../static/css/timeslider.css">
  <link rel="stylesheet" href="../../static/custom/timeslider.css">
  <style type="text/css" title="dynamicsyntax"></style>
</head>

<body id="padbody" class="timeslider limwidth">
  <div id="padpage">
    <div id="timeslider-top">
      <div id="timeslider-wrapper">
        <div id="timeslider" unselectable="on" style="display: none">
          <div id="timeslider-left"></div>
          <div id="timeslider-right"></div>
          <div id="timer"></div>
          <div id="timeslider-slider">
            <div id="ui-slider-handle"></div>
            <div id="ui-slider-bar"></div>
          </div>
          <div id="playpause_button">
            <div id="playpause_button_icon" class=""></div>
          </div>
          <div id="steppers">
            <div class="stepper" id="leftstep"></div>
            <div class="stepper" id="rightstep"></div>
          </div>
        </div>
      </div>

      <div class="timeslider-bar">
          <div class="editbarright toolbar" id="editbar">
            <ul>
              <li onClick="window.padeditbar.toolbarClick('import_export');return false;">
                <a id="exportlink" title="Export to different document formats">
                  <div class="buttonicon buttonicon-import_export"></div>
                </a>
              </li>
            </ul>
            <a id="returnbutton">Return to pad</a>
          </div>

          <div>
              <h1>
                <span id="revision_label"></span>
                <span id="revision_date"></span>
              </h1>
              <p>Authors:
              <span id="authorsList">
                <span>No Authors</span>
              </span> </p>
          </div>
      </div>
    </div>

    <div id="padmain">
      <div id="padeditor">
        <div id="editorcontainerbox">
          <div id="padcontent">
          </div>
        </div>
      </div><!-- /padeditor -->
    </div><!-- /padmain -->
  </div><!-- /padpage -->

  <div id="modaloverlay">
    <div id="modaloverlay-inner">
      <!-- -->
    </div>
  </div>

  <div id="mainmodals"></div>

<!-- export code -->
<div id="importexport">

<div id="export" class="popup">
  Export current version as:
  <a id="exporthtmla" target="_blank" class="exportlink"><div class="exporttype" id="exporthtml">HTML</div></a>
  <a id="exportplaina" target="_blank" class="exportlink"><div class="exporttype" id="exportplain">Plain text</div></a>
  <a id="exportworda" target="_blank" class="exportlink"><div class="exporttype" id="exportword">Microsoft Word</div></a>
  <a id="exportpdfa" target="_blank" class="exportlink"><div class="exporttype" id="exportpdf">PDF</div></a>
  <a id="exportopena" target="_blank" class="exportlink"><div class="exporttype" id="exportopen">OpenDocument</div></a>
  <a id="exportdokuwikia" target="_blank" class="exportlink"><div class="exporttype" id="exportdokuwiki">DokuWiki text</div></a>
</div>
</div>

<script type="text/javascript" src="../../static/js/require-kernel.js"></script>
<script type="text/javascript" src="../../socket.io/socket.io.js"></script>

<!-- Include base packages manually (this help with debugging) -->
<script type="text/javascript" src="../../javascripts/lib/ep_etherpad-lite/static/js/timeslider.js?callback=require.define"></script>
<script type="text/javascript" src="../../javascripts/lib/ep_etherpad-lite/static/js/ace2_common.js?callback=require.define"></script>

<script type="text/javascript" src="../../static/custom/timeslider.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" >
  var clientVars = {};
  
  (function () {
    
    var pathComponents = location.pathname.split('/');
    
    // Strip 'p', the padname and 'timeslider' from the pathname and set as baseURL
    var baseURL = pathComponents.slice(0,pathComponents.length-3).join('/') + '/';
    
    
    require.setRootURI(baseURL + "javascripts/src");
    require.setLibraryURI(baseURL + "javascripts/lib");
    require.setGlobalKeyPath("require");

    $ = jQuery = require('ep_etherpad-lite/static/js/rjquery').jQuery; // Expose jQuery #HACK

    if ((!$.browser.msie) && (!($.browser.mozilla && $.browser.version.indexOf("1.8.") == 0))) {
      document.domain = document.domain; // for comet
    }

    var plugins = require('ep_etherpad-lite/static/js/pluginfw/plugins');
    plugins.baseURL = baseURL;
    
    plugins.update(function () {
      var timeslider = require('ep_etherpad-lite/static/js/timeslider')
      timeslider.baseURL = baseURL;
      timeslider.init();

      /* TODO: These globals shouldn't exist. */
      padeditbar = require('ep_etherpad-lite/static/js/pad_editbar').padeditbar;
      padimpexp = require('ep_etherpad-lite/static/js/pad_impexp').padimpexp;
    });
  })();
</script>
</body>
</html>

