/* =========================== */
/* === Super Light Toolbar === */
/* =========================== */
.super-light-toolbar .toolbar, .super-light-toolbar .popup-content {
  --text-color: var(--dark-color);
  --text-soft-color: var(--dark-soft-color);
  --border-color: var(--middle-color);
  --bg-soft-color: var(--light-color);
  --bg-color: var(--super-light-color);
}
.super-light-toolbar #chat {
  background-color: var(--light-color);
}
/* ===================== */
/* === Light Toolbar === */
/* ===================== */
.light-toolbar .toolbar, .light-toolbar .popup-content {
  --text-color: var(--super-dark-color);
  --text-soft-color: var(--dark-color);
  --border-color: var(--middle-color);
  --bg-soft-color: var(--light-soft-color);
  --bg-color: var(--light-color);
}
.popup input[type="text"] {
  background-color: var(--super-light-color);
}
/* ========================== */
/* === Super Dark Toolbar === */
/* ========================== */
.super-dark-toolbar .toolbar, .super-dark-toolbar .popup-content {
  --text-color: var(--light-color);
  --text-soft-color: var(--middle-color);
  --border-color: var(--dark-soft-color);
  --bg-soft-color: var(--dark-color);
  --bg-color: var(--super-dark-color);
  border: none;
}
.super-dark-toolbar.super-dark-editor .popup-content {
  border: 1px solid var(--dark-color);
  box-shadow: none;
}
/* ==================== */
/* === Dark Toolbar === */
/* ==================== */
.dark-toolbar .toolbar, .dark-toolbar .popup-content  {
  --text-color: var(--super-light-color);
  --text-soft-color: var(--light-color);
  --border-color: var(--dark-soft-color);
  --bg-soft-color: var(--dark-soft-color);
  --bg-color: var(--dark-color);
}





/* ============================ */
/* == Super Light Background == */
/* ============================ */
.super-light-background #editorcontainerbox, .super-light-background #sidediv  {
  --text-color: var(--dark-color);
  --text-soft-color: var(--dark-soft-color);
  --border-color: var(--light-soft-color);
  --bg-soft-color: var(--light-color);
  --bg-color: var(--super-light-color);
  background-color: var(--super-light-color);
}
.super-light-background.super-light-toolbar .toolbar {
  --border-color: var(--super-light-color);
}
.super-light-background .chat-content, .super-light-background #chatbox.stickyChat .chat-content {
  --bg-color: var(--super-light-color);
  --bg-soft-color: var(--super-light-color);
}
.super-light-background #chatbox.stickyChat .chat-content {
  box-shadow: none;
}
.super-light-background  body, .full-width-editor.super-light-editor body {
  --scrollbar-bg: var(--super-light-color);
  --scrollbar-track: var(--light-color);
  --scrollbar-thumb: var(--dark-soft-color);
}
/* ====================== */
/* == Light Background == */
/* ====================== */
.light-background #editorcontainerbox, .light-background #sidediv  {
  --text-color: var(--super-dark-color);
  --text-soft-color: var(--dark-color);
  --border-color: var(--light-soft-color);
  --bg-soft-color: var(--light-soft-color);
  --bg-color: var(--light-color);
  background-color: var(--light-color);
}
.light-background  body, .full-width-editor.light-editor body {
  --scrollbar-bg: var(--light-color);
  --scrollbar-track: var(--light-soft-color);
  --scrollbar-thumb: var(--dark-soft-color);
}
.light-background.light-toolbar .toolbar {
  --border-color: var(--light-color);
}
.light-background input[type="text"] {
  background-color: var(--super-light-color);
}
.light-background .chat-content, .light-background #chatbox.stickyChat .chat-content {
  --bg-color: var(--super-light-color);
  --bg-soft-color: var(--light-color);
  --scrollbar-bg: var(--super-light-color);
  --scrollbar-track: var(--light-color);
  --scrollbar-thumb: var(--middle-color);
}
.light-background #chatbox.stickyChat .chat-content {
  box-shadow: none;
}
/* Special combinaison with toolbar */
.light-background.light-toolbar .toolbar {
  --border-color: var(--light-color);
}
.light-background.light-editor #chattext {
  background-color: var(--light-color);
  --scrollbar-bg: var(--light-color);
  --scrollbar-track: var(--light-soft-color);
  --scrollbar-thumb: var(--dark-soft-color);
}
/* =========================== */
/* == Super Dark Background == */
/* =========================== */
.super-dark-background #editorcontainerbox, .super-dark-background #sidediv  {
  --text-color: var(--light-color);
  --text-soft-color: var(--light-soft-color);
  --border-color: var(--dark-color);
  --bg-soft-color: var(--dark-color);
  --bg-color: var(--super-dark-color);
}
.super-dark-background #editorcontainerbox {
  background-color: var(--super-dark-color);
}
.super-dark-background body, .full-width-editor.super-dark-editor body {
  --scrollbar-bg: var(--super-dark-color);
  --scrollbar-track: var(--dark-color);
  --scrollbar-thumb: var(--light-soft-color);
}
.super-dark-background .chat-content, .super-dark-background #chatbox.stickyChat .chat-content {
  background-color: var(--super-dark-color);
  color: var(--light-color);
  --scrollbar-bg: var(--super-dark-color);
  --scrollbar-track: var(--dark-color);
  --scrollbar-thumb: var(--light-soft-color);
}
.super-dark-background input[type="text"] {
  background-color: var(--bg-soft-color);
  border: none;
  color: var(--text-color);
}
.super-dark-background input[type="text"]::placeholder {
  color: var(--middle-color);
}
.super-dark-background #chatbox:not(.stickyChat) .chat-content {
  border: 1px solid var(--dark-color);
}
/* Special combinaison with toolbar */
.super-dark-background.super-dark-toolbar .popup-content {
  border: 1px solid var(--dark-color);
}
.super-dark-background.super-dark-toolbar .toolbar {
  --border-color: var(--super-dark-color);
}
/* ===================== */
/* == Dark Background == */
/* ===================== */
.dark-background #editorcontainerbox, .dark-background #sidediv  {
  --text-color: var(--super-light-color);
  --text-soft-color: var(--light-color);
  --border-color: var(--dark-soft-color);
  --bg-soft-color: var(--dark-soft-color);
  --bg-color: var(--dark-color);
}
.dark-background #editorcontainerbox {
  background-color: var(--dark-color);
}
.dark-background  body, .full-width-editor.dark-editor body {
  --scrollbar-bg: var(--dark-color);
  --scrollbar-track: var(--dark-soft-color);
  --scrollbar-thumb: var(--light-soft-color);
}
.dark-background .chat-content, .dark-background #chatbox.stickyChat .chat-content {
  background-color: var(--dark-color);
  color: var(--super-light-color);
  --border-color: var(--dark-soft-color);
  --scrollbar-bg: var(--dark-color);
  --scrollbar-track: var(--dark-soft-color);
  --scrollbar-thumb: var(--light-soft-color);
}
.dark-background input[type="text"] {
  background-color: var(--dark-soft-color);
  border: none;
  color: var(--text-color);
}
.dark-background input[type="text"]::placeholder {
  color: var(--middle-color);
}
.dark-background .popup-content, .dark-background #chatbox:not(.stickyChat) .chat-content {
  box-shadow: 0 0 14px 0px var(--super-dark-color);
}
/* Special combinaison with toolbar */
.dark-background.dark-toolbar .popup-content, .dark-editor.dark-toolbar .popup-content {
  box-shadow: 0 0 14px 0px var(--super-dark-color);
}
.dark-background.dark-toolbar .toolbar {
  --border-color: var(--dark-color);
}





/* ======================== */
/* == Super Light Editor == */
/* ======================== */
.super-light-editor #outerdocbody iframe, .super-light-editor #outerdocbody > #innerdocbody {
  --bg-color: var(--super-light-color);
}
.super-light-editor #innerdocbody {
  --text-color: var(--super-dark-color);
}
/* ================== */
/* == Light Editor == */
/* ================== */
.light-editor #outerdocbody iframe, .light-editor #outerdocbody > #innerdocbody {
  --bg-color: var(--light-color);
}
.light-editor #innerdocbody {
  --text-color: var(--super-dark-color);
}
/* ======================= */
/* == Super Dark Editor == */
/* ======================= */
.super-dark-editor #outerdocbody iframe, .super-dark-editor #outerdocbody > #innerdocbody {
  --bg-color: var(--super-dark-color);
}
.super-dark-editor #innerdocbody {
  --text-color: var(--super-light-color);
}
/* ================= */
/* == Dark Editor == */
/* ================= */
.dark-editor #outerdocbody iframe, .dark-editor #outerdocbody > #innerdocbody {
  --bg-color: var(--dark-color);
}
.dark-editor #innerdocbody {
  --text-color: var(--super-light-color);
}


/* ============================= */
/* == Combinaison with editor == */
/* ============================= */
.super-light-editor.super-light-background #outerdocbody,
.light-editor.light-background #outerdocbody,
.super-dark-editor.super-dark-background #outerdocbody,
.dark-editor.dark-background #outerdocbody {
  padding-top: 0;
}
@media (min-width: 1001px) {
  .super-light-editor.super-light-background,
  .light-editor.light-background,
  .super-dark-editor.super-dark-background,
  .dark-editor.dark-background {
    --editor-padding: 20px 35px;
    --editor-padding-top: 20px;
  }
}

.super-light-editor.super-light-background #chaticon {
  --bg-soft-color: var(--light-color);
  --text-color: var(--dark-color);
}
.light-editor.light-background #chaticon {
  --bg-soft-color: var(--super-light-color);
  --text-color: var(--dark-color);
}
.super-dark-editor.super-dark-background #chaticon {
  --bg-soft-color: var(--dark-color);
  --text-color: var(--light-color);
}
.dark-editor.dark-background #chaticon {
  --bg-soft-color: var(--light-color);
  --text-color: var(--dark-color);
}



/* ======================= */
/* == Full Width Editor == */
/* ======================= */
.full-width-editor #outerdocbody iframe, .full-width-editor #outerdocbody > #innerdocbody {
  max-width: none !important;
  border-radius: 0;
}
.full-width-editor #outerdocbody {
  padding: 0;
  margin: 0;
}
@media (min-width: 1001px) {
  .full-width-editor {
    --editor-padding: 20px 35px;
    --editor-padding-top: 20px;
  }
}
.full-width-editor ::-webkit-scrollbar-track,
.full-width-editor ::-webkit-scrollbar-thumb {
  border-radius: 0px;
}