#innerdocbody {
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  background: transparent;
  color: #485365;
  color: var(--text-color);
}

#innerdocbody span {
  padding: 3px 0 !important;
}

#innerdocbody h1 span {
  padding: 0;
}

option {
  text-transform: capitalize;
}