<li class="separator acl-write"></li>

<li id="font-family" class="acl-write">
    <select class="family-selection">
        <option value="dummy" selected data-l10n-id="ep_font_family.family">Font</option>
    </select>
</li>
