<li><a href="#" data-key="align" class="font_family">Font Family</a>
  <ul class="submenu">
    <select class="family-selection">
      <option value="dummy" selected data-l10n-id="ep_font_family.family">family</option>
    </select>
  </ul>
</li>

