#button,
body,
form {
  border: none
}

form {
  display: none;
}

body {
  background: #ffffff;
  font-family: Quicksand, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#wrapper {
  border-top: none;
  margin-top: 0;
  padding: 10px;
  background: 0 0;
  box-shadow: none
}

input {
  color: #4a5d5c;
}

#inner {
  background: transparent;
  padding-top: 0;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
  text-align: center;
  color:#FFF;
}

#label {
  text-shadow: none;
  color: #333;
  font-weight: normal;
  text-align: center;
  display: none;
}

#button {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  text-shadow: none;
  font-size: 23px;
  line-height: 1.8;
  color: #fff;
  background: #00a3d3;
  border-radius: 3px;
  box-shadow: none;
  height: 53px;
  border: none;
  display: block;
}


button[type=submit] {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background: #00a3d3;
  border: none;
  top: 0;
  opacity: 1;
  transition: .2s background;
}

#button:hover,
button[type=submit]:hover {
  cursor: pointer;
  background: #0082a8;
  color: #fff;
}

#padname {
  height: 38px;
  width: calc(100% - 45px);
  padding: 0 12px;
  position: relative;
}

svg#kits_logo {
    width: 250px;
    height: auto;
    margin-bottom: 50px;
    max-width: 100%;
}

#kits_welcome_wrapper{
    padding-bottom: 30px;
}
            
#kits_welcome_text {
    color:black !important;
    text-align: center;
}

@media only screen and (max-width: 420px) {
  svg#kits_logo {
      margin-top: 30px;
  }
}
