:root {
  --etherpad-color: #64d29b;
  --etherpad-color-dark: #4a5d5c;
  --etherpad-border: oklch(92.8% 0.006 264.531);
  --muted-text: oklch(44.6% 0.03 256.802);
  --muted-border: oklch(87.2% 0.01 258.338);
  --muted-background: hsl(240 4.8% 95.9%);
  --ep-color: rgb(22 163 74);
}


body {
  border-top: 0;
  background: oklch(98.5% 0.002 247.839);
}

h1 {
  margin: auto 0 0;
  font-size: 26px;
}

.mission-statement h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 4rem;
}

.mission-statement p {
  color: var(--muted-text);
  font-size: 20px;
  text-align: center;
  max-width: 40%;
  margin: auto;
}

#wrapper {
  border-top: 0;
  margin-top: 0;
  padding: 0;
  background: unset;
  box-shadow: none;
}

#inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
}

#label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(55 65 81);
  margin-bottom: 0.5rem;
  margin-top: 0;
}

#go2Name {
  order: 1;
}

#padname, #go2Name, #go2Name [type="submit"], #button, #button:hover {
  all: unset;
}


#padname {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  outline: none;
  transition: border 0.2s;
}

#padname {
  box-sizing: border-box;
  width: 100%;
  color: var(--muted-text);
  border: 1px solid var(--muted-border);
  border-radius: 5px;
}

#button, #button:hover, #go2Name [type="submit"] {
  order: 2;
  margin-top: 0.5rem;
  line-height: 1.25rem;
  background: white;
  border: 1px solid var(--muted-border);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

#button, #button:hover {
  order: 2;
}

#button:hover {
  background-color: var(--muted-background);
}

#go2Name input {
  width: 100%;
}


#go2Name [type="submit"] {
  display: block;
  background-color: var(--ep-color);
  color: white;
  width: 100%;
}


body nav {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--etherpad-border);
  padding: 1rem 1.5rem;
}

.logo-box svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
}

.logo-box {
  width: 2rem;
  height: 2rem;
  background: #16a34a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}


#wrapper {
  width: 100%;
  max-width: 28rem;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 #0001;
  margin: 2rem auto auto;
}

.card-content {
  padding: 1.5rem;
}
