@import url("src/layout.css");
@import url("src/pad-editor.css");

@import url("src/components/scrollbars.css");
@import url("src/components/buttons.css");
@import url("src/components/popup.css");

@import url("src/components/chat.css");
@import url("src/components/sidediv.css");
@import url("src/components/gritter.css");
@import url("src/components/table-of-content.css");
@import url("src/components/toolbar.css");
@import url("src/components/users.css");
@import url("src/components/form.css");
@import url("src/components/import-export.css");

@import url("src/plugins/brightcolorpicker.css");
@import url("src/plugins/font_color.css");
@import url("src/plugins/tables2.css");
@import url("src/plugins/author_hover.css");

/* -----------------------------------------------------------------
 * COLORS
 * If you want to change main colors, please replace following rules
 * -----------------------------------------------------------------
 */

/* NEUTRAL COLOR */
body,
.btn-default,
.color\:black,
[data-color=black]
{ color: #41484e !important; }

/* MENUS ICONS */
#edit_title:before,
#tbl-menu:before
{ color: #767676 !important; }
/* MENU BUTTONS */
.timeslider #editbar .buttontext
{ background-color: #767676 !important; }

/* PRIMARY BUTTONS */
.btn-primary
{
  background-color: #64d29b;
  color: white;
}

/* PRIMARY COLOR */
h1,
#slider-btn-container .stepper, #importmessageabiword, #importmessageabiword > a,
.toolbar .show-more-icon-btn
{ color: #64d29b; }
#timeslider-slider #ui-slider-handle, #playpause_button_icon, .gritter-item:not(.error) .popup-content{
  background-color: #64d29b;
}
#slider-btn-container button {
  border-color: #64d29b;
}

h2 {
  opacity: .9 !important; /* make it a bit less agressive */
}
/* PRIMARY-COLOR VARIANT */
.toolbar ul li a.selected,
.toolbar ul li a.pressed,
.toolbar ul li select:active {
  background-color: #f0faf6 !important; /* primary light */
}
.toolbar ul li a.selected .buttonicon,
.toolbar ul li a.pressed .buttonicon,
.toolbar ul li select:active {
  color: #5abb89; /* primary a bit darker */
}

/* BACKGROUND COLOR */
#editorcontainerbox {
  background-color: #f9f9f9 !important;
}

/* FONT */
body,
#sidedivinner > div:before
{ font-family: Quicksand, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
