@import url("src/layout.css");
@import url("src/pad-editor.css");

@import url("src/components/scrollbars.css");
@import url("src/components/buttons.css");
@import url("src/components/popup.css");

@import url("src/components/chat.css");
@import url("src/components/sidediv.css");
@import url("src/components/gritter.css");
@import url("src/components/table-of-content.css");
@import url("src/components/toolbar.css");
@import url("src/components/users.css");
@import url("src/components/form.css");
@import url("src/components/import-export.css");

@import url("src/plugins/brightcolorpicker.css");
@import url("src/plugins/font_color.css");
@import url("src/plugins/tables2.css");
@import url("src/plugins/author_hover.css");

html {
  font-size: 15px;
}

/* -----------------------------------------------------------------
 * COLORS
 * If you want to change main colors, please replace following rules
 * -----------------------------------------------------------------
 */

:root {
  --dark-color: #374256;
  --dark-soft-color: #576273;
  --primary-color: #64d29b;
  --middle-color: #d2d2d2; /* between light-soft-color and dark-soft-color, use for border for examples */
  --light-soft-color: #f2f3f4; /*#f9f9f9;*/
  --light-color: white;

  --text-color: var(--dark-color);
  --text-soft-color: var(--dark-soft-color);
  --border-color: var(--middle-color);
  --bg-soft-color: var(--light-soft-color);
  --bg-color: var(--light-color);

  --main-font-family: Quicksand, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
  color: var(--text-color);
  font-family: var(--main-font-family);
}


/* PRIMARY COLOR */
h1 {
  color: var(--primary-color);
}

/* BACKGROUND COLOR */
#editorcontainerbox {
  background-color: var(--bg-soft-color);
}