@import url("src/layout.css");
@import url("src/pad-editor.css");

@import url("src/components/buttons.css");
@import url("src/components/popup.css");

@import url("src/components/chat.css");
@import url("src/components/sidediv.css");
@import url("src/components/gritter.css");
@import url("src/components/table-of-content.css");
@import url("src/components/toolbar.css");
@import url("src/components/users.css");
@import url("src/components/form.css");
@import url("src/components/import-export.css");

@import url("src/plugins/brightcolorpicker.css");
@import url("src/plugins/comments_page.css");
@import url("src/plugins/font_color.css");
@import url("src/plugins/set_title_on_pad.css");
@import url("src/plugins/tables2.css");
@import url("src/plugins/embedded_hyperlinks.css");
@import url("src/plugins/author_hover.css");

/* NEUTRAL COLOR */
body,
#innerdocbody
#users,
#chattext,
#chatinput,
#chatlabel,
#toc,
#tocItems a,
.toolbar ul li a:hover .buttonicon,
.toolbar ul li a,
.toolbar ul li select,
#mycolorpickercancel,
.btn-default,
.color\:black,
[data-color=black],
#chattext.authorColors p, #chattext.authorColors span,
#chattext .time,
#tbl_context_menu ul .yuimenuitemlabel,
.yui-skin-sam .yui-split-button button em:not(.color-picker-button),
#yui-picker-panel .button-group .yui-button:first-child button,
#newComment .sidebar-comment input[type=reset], #newComment .sidebar-comment input[type=reset]:hover,
#newComment .sidebar-comment input[type=submit]:hover,
.suggestion, .comment-reply-input, .reply-suggestion p:not(.reply-comment-suggest-from-p), .comment-text,
.sidebar-comment textarea, .reply-comment-suggest label, .comment-suggest label, .comment-reply-input
#comments, #newComments, .reply-comment-suggest-from-p,
.comment-changeFrom-value,
.comment-changeTo-value,
.reply-suggestion .reply-comment-suggest-from,
.suggestion .comment-suggest-from,
.hyperlink-dialog>.hyperlink-url,
.timeslider #padcontent span ,
.exporttype, .timeslider #export > p
{ color: #2E3338 !important; }

/* MENUS ICONS */
#edit_title:before,
#tbl-menu:before
{ color: #767676 !important; }
/* MENU BUTTONS */
.timeslider #editbar .buttontext
{ background-color: #767676 !important; }

/* PRIMARY BUTTONS */
#mycolorpickersave,
.btn-primary,
#tbl_btn_close,
#save_title button,
#yui-picker-panel .button-group .yui-button:last-child button,
#newComment.sidebar-comment input[type=submit],
.comment-changeTo-approve input[type=submit],
.hyperlink-dialog>.hyperlink-save,
#importsubmitinput, #forcereconnect
{
  background-color: #64d29b;
  color: white;
}

/* PRIMARY COLOR */
h1,
#titlelabel,
.yui-skin-sam .yui-panel .hd,
p[data-l10n-id="ep_comments_page.comment"],
.comment-reply-input-label span,
.stepper, #importmessageabiword, #importmessageabiword > a
{ color: #64d29b; }
#ui-slider-handle, #playpause_button_icon {
  background-color: #64d29b;
}
.stepper {
  border-color: #64d29b;
}

/* BACKGROUND COLOR */
#editorcontainer, #padmain  {
  background-color: #f9f9f9 !important;
}


/* NEUTRAL FONT */
body,
#innerdocbody,
#chatinput,
.toolbar ul li select,
button, input, select, textarea,
td[name=tData],
#comments, #newComments,
#sidediv,
#comments .sidebar-comment,
#timeslider #timer, .exporttype
{ font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

/* PRIMARY FONT */
h1,
#titlelabel,
#chatlabel,
.btn,
.yui-skin-sam .yui-panel .hd,
.reply-suggestion p:not(.reply-comment-suggest-from-p),
p[data-l10n-id="ep_comments_page.comment"],
#newComment.sidebar-comment input[type=submit],
.comment-changeTo-approve input[type=submit],
.hyperlink-dialog>.hyperlink-save
{ font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;  }
