@import url("src/layout.css");
@import url("src/pad-editor.css");

@import url("src/components/scrollbars.css");
@import url("src/components/buttons.css");
@import url("src/components/popup.css");

@import url("src/components/chat.css");
@import url("src/components/sidediv.css");
@import url("src/components/gritter.css");
@import url("src/components/table-of-content.css");
@import url("src/components/toolbar.css");
@import url("src/components/users.css");
@import url("src/components/form.css");
@import url("src/components/import-export.css");

@import url("src/plugins/brightcolorpicker.css");
@import url("src/plugins/font_color.css");
@import url("src/plugins/tables2.css");
@import url("src/plugins/author_hover.css");

@import url("src/pad-variants.css");

html {
  font-size: 15px;
}

/* -----------------------------------------------------------------
 * COLORS
 * If you want to change main colors, please replace following rules
 * -----------------------------------------------------------------
 */

:root {
  --super-dark-color: #374256;
  --dark-color: #576273; /*#4d5d77*/
  --dark-soft-color: #6d7684; /*#606978;*/

  --primary-color: #64d29b;
  --middle-color: #d2d2d2; /* between light-soft-color and dark-soft-color, use for border for examples */

  --light-soft-color: #e5e6e6;
  --light-color: #f2f3f4; /*#f9f9f9;*/
  --super-light-color: white;
}

html {
  --text-color: var(--super-dark-color);
  --text-soft-color: var(--dark-color);
  --border-color: var(--middle-color);
  --bg-soft-color: var(--light-color);
  --bg-color: var(--super-light-color);

  --main-font-family: Quicksand, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --editor-padding: 40px 55px;
  --editor-padding-top: 40px;
}

/* Default scrollbar values */
body {
  --scrollbar-bg: var(--light-color);
  --scrollbar-track: var(--light-soft-color);
  --scrollbar-thumb: var(--dark-soft-color);
}
#chatbox {
  --scrollbar-bg: var(--super-light-color);
  --scrollbar-track: var(--light-color);
  --scrollbar-thumb: var(--middle-color);
}


body {
  color: var(--text-color);
  font-family: var(--main-font-family);
}


/* PRIMARY COLOR */
h1 {
  color: var(--primary-color);
}

/* BACKGROUND COLOR */
#editorcontainerbox {
  background-color: #f2f3f4; /* default */
}
