<li class="acl-write" id="bold" data-key="bold">
    <a class="grouped-left" title="Bold (ctrl-B)">
      <span class="buttonicon buttonicon-bold"></span>
    </a>
</li>
<li class="acl-write" id="italic" data-key="italic">
    <a class="grouped-middle" title="Italics (ctrl-I)">
      <span class="buttonicon buttonicon-italic"></span>
    </a>
</li>
<li class="acl-write" id="underline" data-key="underline">
    <a class="grouped-middle" title="Underline (ctrl-U)">
      <span class="buttonicon buttonicon-underline"></span>
    </a>
</li>
<li class="acl-write" id="strikethrough" data-key="strikethrough">
    <a class="grouped-right" title="Strikethrough">
      <span class="buttonicon buttonicon-strikethrough"></span>
    </a>
</li>
<li class="acl-write separator"></li>
<li class="acl-write" id="oderedlist" data-key="insertorderedlist">
    <a class="grouped-left" title="Toggle Ordered List">
      <span class="buttonicon buttonicon-insertorderedlist"></span>
    </a>
</li>
<li class="acl-write" id="unoderedlist" data-key="insertunorderedlist">
    <a class="grouped-middle" title="Toggle Bullet List">
      <span class="buttonicon buttonicon-insertunorderedlist"></span>
    </a>
</li>
<li class="acl-write" id="indent" data-key="indent">
    <a class="grouped-middle" title="Indent">
      <span class="buttonicon buttonicon-indent"></span>
    </a>
</li>
<li class="acl-write" id="outdent" data-key="outdent">
    <a class="grouped-right" title="Unindent">
      <span class="buttonicon buttonicon-outdent"></span>
    </a>
</li>
<li class="acl-write separator"></li>
<li class="acl-write" id="undo" data-key="undo">
    <a class="grouped-left" title="Undo (ctrl-Z)">
      <span class="buttonicon buttonicon-undo"></span>
    </a>
</li>
<li class="acl-write" id="redo" data-key="redo">
    <a class="grouped-right" title="Redo (ctrl-Y)">
      <span class="buttonicon buttonicon-redo"></span>
    </a>
</li>
<li class="acl-write separator"></li>
<li class="acl-write" id="clearAuthorship" data-key="clearauthorship">
    <a title="Clear Authorship Colors">
      <span class="buttonicon buttonicon-clearauthorship"></span>
    </a>
</li>
