body {
  margin: 0;
  height: 100%;
  color: #333;
  font: 14px helvetica, sans-serif;
  background: #ddd;
  background: -webkit-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -moz-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -ms-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -o-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  border-top: 8px solid rgba(51,51,51,.8);
}
#wrapper {
  border-top: 1px solid #999;
  margin-top: 160px;
  padding: 15px;
  background: #eee;
  background: -webkit-linear-gradient(#fff,#ccc);
  background: -moz-linear-gradient(#fff,#ccc);
  background: -ms-linear-gradient(#fff,#ccc);
  background: -o-linear-gradient(#fff,#ccc);
  opacity: .9;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
}
#inner {
  width: 300px;
  margin: 0 auto;
}
#button {
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
  font: 36px verdana,arial,sans-serif;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8);
  height: 70px;
  line-height: 70px;
  background: #555;
  background: -webkit-linear-gradient(#5F5F5F,#565656 50%,#4C4C4C 51%,#373737);
  background: -moz-linear-gradient(#5F5F5F,#565656 50%,#4C4C4C 51%,#373737);
  background: -ms-linear-gradient(#5F5F5F,#565656 50%,#4C4C4C 51%,#373737);
  background: -o-linear-gradient(#5F5F5F,#565656 50%,#4C4C4C 51%,#373737);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
}
#button:hover {
  cursor: pointer;
  background: #666;
  background: -webkit-linear-gradient(#707070,#666666 50%,#5B5B5B 51%,#474747);
  background: -moz-linear-gradient(#707070,#666666 50%,#5B5B5B 51%,#474747);
  background: -ms-linear-gradient(#707070,#666666 50%,#5B5B5B 51%,#474747);
  background: -o-linear-gradient(#707070,#666666 50%,#5B5B5B 51%,#474747);
}
#button:active {
  box-shadow: inset 0 1px 12px rgba(0,0,0,0.9);
  background: #444;
}
#label {
  text-align: left;
  text-shadow: 0 1px 1px #fff;
  margin: 16px auto 0;
}
form {
  height: 38px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  position: relative;
}
button, input {
  font-weight: bold;
  font-size: 15px;
}
input[type="text"] {
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 45px 0 10px;
  *padding: 0; /* IE7 hack */
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  position: absolute;
}
button[type="submit"] {
  position: absolute;
  right: 0;
  width: 45px;
  height: 38px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  body {
    background: #bbb;
    background: -webkit-linear-gradient(#aaa,#eee 60%) center fixed;
    background: -moz-linear-gradient(#aaa,#eee 60%) center fixed;
    background: -ms-linear-gradient(#aaa,#eee 60%) center fixed;
  }
  #wrapper {
    margin-top: 0;
  }
  #inner {
    width: 95%;
  }
  #label {
    text-align: center;
  }
}
