*, HTML, BODY, P {margin:0; padding:0;}
HTML {font-size:62.5%; width:100%;}
BODY, TEXTAREA {font-family:Arial, Helvetica, sans-serif;}
IFRAME {position:absolute;}

.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.rtl {direction:RTL;}
.inactive {opacity:.2;}

A {text-decoration:none;}
A:hover {color:#00b7ed;}
A:focus {outline:none;}

INPUT[type=text] {border:2px solid #eaeaea; border-radius:5px; padding:3px 4px;}
INPUT[type=text]:focus {border-color:#00b7ed; outline:none;}
BUTTON {background:none; border:0 none; color:#999; cursor:pointer; font-size:12px; margin-right:5px;}
BUTTON:hover, .button:hover {color:#00b7ed;}
.button {
  background:linear-gradient(#eee, #c5c5c5);
  border:1px solid #d5d5d5;
  border-radius:3px;
  color:#888;
  cursor:pointer;
  font-weight:700;
  overflow:hidden;
  padding:4px;
  text-align:center;
  text-shadow:0 1px 0 #f5f5f5;
}

/* editor toolbar */
#editbar {
  background:#f5f5f5;
  background:linear-gradient(#f5f5f5, #eee 80%);
  border-bottom:1px solid #d5d5d5;
  overflow:hidden;
  padding:3px 0 2px;
  position:absolute;
  width:100%;
  z-index:2;
}
#editbar UL {list-style:none; overflow:hidden; padding:1px 3px 1px 2px; position:relative; z-index:2;}
#editbar .left {margin-left:22px;}
#editbar LI {
  background:url(../../static/img/editbar-sprite.png) 0 0 no-repeat;
  border-radius:3px;
  border:1px solid #d5d5d5;
  box-shadow:0 1px 0 #fff;
  color:#999;
  cursor:pointer;
  display:block;
  float:left;
  height:20px;
  margin-left:2px;
  overflow:hidden;
  padding:2px;
  width:20px;
}
#editbar .group-start {border-radius:3px 0 0 3px; border-width:1px 0 1px 1px;}
#editbar .group-mid {border-radius:0; border-width:1px 0 1px 1px; margin-left:0;}
#editbar .group-end {border-radius:0 3px 3px 0; margin:0 1em 0 0;}

/* editbar icons */
LI#bold             {background-position:2px    2px;}
LI#italic           {background-position:2px  -18px;}
LI#underline        {background-position:2px  -38px;}
LI#strikethrough    {background-position:2px  -58px;}
LI#unorderedlist    {background-position:2px  -78px;}
LI#orderedlist      {background-position:2px  -98px;}
LI#indent           {background-position:2px -118px;}
LI#outdent          {background-position:2px -138px;}
LI#undo             {background-position:2px -158px;}
LI#redo             {background-position:2px -178px;}
LI#clearauthorship  {background-position:2px -198px;}
LI#settings         {background-position:2px -258px;}
LI#importexport    {background-position:2px -278px;}
LI#history          {background-position:2px -298px;}
LI#users            {background-position:2px -318px; font-size:12px; text-align:right; width:32px;}
LI#embed            {background-position:2px -338px;}
LI#bold:hover             {background-position:-38px    2px;}
LI#italic:hover           {background-position:-38px  -18px;}
LI#underline:hover        {background-position:-38px  -38px;}
LI#strikethrough:hover    {background-position:-38px  -58px;}
LI#unorderedlist:hover    {background-position:-38px  -78px;}
LI#orderedlist:hover      {background-position:-38px  -98px;}
LI#indent:hover           {background-position:-38px -118px;}
LI#outdent:hover          {background-position:-38px -138px;}
LI#undo:hover             {background-position:-38px -158px;}
LI#redo:hover             {background-position:-38px -178px;}
LI#clearauthorship:hover  {background-position:-38px -198px;}
LI#settings:hover,
#settings.selected        {background-position:-38px -258px;}
LI#importexport:hover,
#importexport.selected   {background-position:-38px -278px;}
LI#history:hover,
#history.selected         {background-position:-38px -298px;}
LI#users:hover,
#users.selected           {background-position:-38px -318px; color:#00b7ed;}
LI#embed:hover,
#embed.selected           {background-position:-38px -338px;}

#editorcontainer {bottom:0; left:0; position:absolute; top:34px; width:100%; z-index:1;}
.chat-visible #editorcontainer {right:192px; width:auto;}
#editorcontainer IFRAME {height:100%; margin:0; padding:0; width:100%;}
#editorloadingbox {
  background:url(../../static/img/ajax-loader.gif) 50% 0 no-repeat;
  color:#aaa;
  font-size:24px;
  height:64px;
  margin:200px auto 0;
  padding-top:48px;
  position:absolute;
  text-align:center;
  width:100%;
  z-index:100;
}
#editorcontainerbox {bottom:0; position:absolute; top:0; width:100%;}

#padpage.full-width {width:100%;}
.full-width #revision {position:absolute; right:20px; top:20px;}
.full-width #padmain {left:0; right:197px; width:auto;}
.full-width #rightbars {margin-right:0; right:7px;}
.full-width #timeslider {width:auto;}

#padcontent {font-size:12px; padding:10px;}

#padpage {bottom:0; position:absolute; top:0; width:100%;}
.maximized #padpage {left:8px; margin-left:0; right:8px; width:auto;}
.fullwidth #padpage {margin-left:6px; margin-right:6px; width:auto;}
.squish1width #padpage {width:800px;}
.squish2width #padpage {width:700px;}

#padmain {bottom:0; left:0; margin-top:0; position:absolute; right:0; top:30px; zoom:1;}
#padeditor {bottom:0; left:0; position:absolute; right:0; top:0; zoom:1;}
.hidesidebar #padeditor {right:0;}

#specialkeyarea {color:yellow; font-size:1.5em; font-weight:700; left:250px; position:absolute; top:5px;}

#alertbar {display:none; left:0; margin-top:6px; opacity:0; position:absolute; right:0; z-index:53;}

#servermsg {background:#ffc; border:1px solid #992; font-size:1.2em; padding:.8em; position:relative; zoom:1;}
#servermsg H3 {float:left; font-weight:700; margin-bottom:1em; margin-right:10px; width:auto;}
#servermsg #servermsgdate {color:#666; font-style:italic; font-weight:400;}
#hidetopmsg {bottom:5px; position:absolute; right:5px;}
#shuttingdown {background:#ffc; border:1px solid #992; font-size:1.2em; margin-top:6px; padding:.6em; position:relative; zoom:1;}

#editbarsavetable {height:24px; position:absolute; right:8px; top:6px;}
#editbarsavetable TD, #editbartable TD {white-space:nowrap;}

/* modal windows for settings ################################################# */
.popup {
  background:#222;
  background:rgba(0,0,0,.6);
  border-radius:0 0 5px 5px;
  box-shadow:0 0 8px #999;
  color:#ddd;
  display:none;
  font-size:12px;
  padding:6px 10px;
  position:absolute;
  right:3px;
  top:34px;
  width:450px;
  z-index:2;
}
.popup H2, .popup H3 {font-size:14px; margin:.5em 0 2px;}
.popup INPUT[type=text] {box-sizing:border-box; display:block; width:100px;}
.popup INPUT[type=checkbox] {margin-right:2px;}
.popup A {text-decoration:none;}
.popup P {margin:4px 0 0 0;}
.left_popup {float:left; width:50%;}
.right_popup {box-sizing:border-box; float:left; width:50%;}

/* users modal */
#usersmenu {width:120px; z-index:500;}

#myswatchbox {cursor:pointer; height:24px; left:6px; position:absolute; width:24px;}
#myswatch {background:transparent; border-radius:3px; height:100%; width:100%;}

#myusernameform {margin-left:25px;}
#myusernameedit {background:transparent; color:#fff; margin:0; padding:3px 4px;}

#mystatusform {margin-left:35px; margin-top:5px;}
#mystatusedit {background:transparent; border:1px solid #bbb; color:#777; display:none; height:14px; margin:0; padding:2px; width:199px;}

#otheruserstable {display:none;}
#otheruserstable TD {border-top:1px solid #555; color:#fff; height:26px; padding:0 2px; vertical-align:middle;}
#otheruserstable .swatch {border:1px solid #000; height:13px; margin:0 4px; overflow:hidden; width:13px;}
.usertdswatch {width:1%;}
.usertdname {font-size:1.3em; color:#444;}
.usertdname .editempty {color:#888; font-style:italic;}
.usertdstatus {font-size:1.1em; font-style:italic; color:#999;}
.usertdactivity {font-size:1.1em; color:#777;}

#nootherusers {color:#eee; font-size:1.2em; font-weight:700; padding:10px;}
#nootherusers A {color:#3c88ff;}

/* colorpicker and swatches modal */
#mycolorpicker {background:rgba(0, 0, 0, 0.7); border-radius:0 0 5px 5px; display:none; left:-250px; padding:10px; position:absolute; top:0; z-index:101;}
#colorpicker {margin-bottom:10px;}
#mycolorpickerpreview {display:none;} /*#mycolorpickerpreview {border-radius:3px; display:block; float:right; height:24px; width:24px;}*/
#colorpickerswatches {padding-left:3px; padding-top:5px;}
#colorpickerswatches LI {border:1px solid #ccc; height:14px; margin:3px 6px; overflow:hidden; padding:0; width:14px;}
#colorpickerswatches LI:hover {border:1px solid #000; cursor:pointer;}

/* export formats */
.exporttype {background:url(../../static/img/editbar-sprite.png) 0 0 no-repeat; color:#fff; margin-top:2px; padding-left:25px; text-decoration:none;}
#exporthtml     {background-position:-40px -484px}
#exportplain    {background-position:-40px -564px}
#exportword     {background-position:-40px -464px}
#exportpdf      {background-position:-40px -544px}
#exportopen     {background-position:-40px -524px}
#exportwordle   {background-position:-40px -564px}
#exportdokuwiki {background-position:-40px -504px}

#importexportline {border-left:1px solid #fff; height:190px; left:260px; opacity:.8; position:absolute; width:0;}
.impexpbutton {background-image:linear-gradient(50% top, #ddd, #fff 20%, #fff 20%); padding:3px;}
#importmessagesuccess {display:none;}
#importsubmitinput {margin-top:12px;}

#focusprotector {background-color:#fff; bottom:0; display:none; left:0; opacity:0.01; position:absolute; right:0; top:0; z-index:100;}

/* embed / share pad */
#embedmenu INPUT[type=text] {width:100%;}
#embedreadonly {margin-top:9px;}
#qr_center {margin:10px 10px auto 0; text-align:center;}
#embedreadonlyqr {box-shadow:0 0 10px #000; transition:all .2s ease-in-out;}
#embedreadonlyqr:hover {cursor:none; transform:scale(1.5);}


/* chat ####################################################################### */
#chaticon {
  background-color:#eee;
  border-radius:3px 3px 0 0;
  bottom:0;
  color:#999;
  cursor:pointer;
  font-size:12px;
  padding:6px 5px 3px 4px;
  position:fixed;
  right:4px;
  text-shadow:0 1px 0 #fff;
  z-index:1;
}
#chaticon A, #chatlabel {padding:3px 0 0;}
#chaticon A {background:url(../../static/img/editbar-sprite.png) -40px -381px no-repeat; margin-right:5px; padding-left:22px; text-decoration:none;}
#chaticon:hover A, #chaticon:hover SPAN {color:#00b7ed;}
#chaticon:hover A {background-position:-40px -401px;}
#chaticon SPAN {font-weight:700;}

#chatbox {
  background-color:#eee;
  border:2px solid #eee;
  border-bottom-width:0;
  border-radius:3px 3px 0 0;
  bottom:0;
  display:none;
  height:300px;
  padding-bottom:10px;
  padding:3px;
  position:absolute;
  right:3px;
  width:260px;
  z-index:1;
}
.chat-visible #chatbox {border-color:#d5d5d5; border-radius:0; border-width:0 0 0 1px; height:auto; right:0; top:34px;}
#titlebar {bottom:2px; color:#999; font-size:12px; font-weight:700; padding:2px 1px; position:relative; text-shadow:0 1px 0 #fff;}
#titlelabel {position:absolute;}
#titlecross {background:url(../../static/img/editbar-sprite.png) 0 -440px; cursor:pointer; float:right; height:16px; margin:-1px -4px 0 0; width:16px;}
#titlecross:hover {background-position:-40px -440px;}
#chattext {
  background-color:#fff;
  bottom:30px;
  font-size:12px;
  left:0;
  overflow-y:scroll;
  position:absolute;
  right:0;
  top:20px;
  z-index:1002;
}
.chat-visible #chattext {top:0;}
#chattext P {overflow-x:hidden; padding:3px; word-wrap:break-word;}
.time {color:#eee; float:right; margin:0 1px;}
#chatinputbox {bottom:0; left:0; padding:2px 1px; position:absolute; right:0;}
#chatinputbox INPUT {font-size:12px; width:94%;}

#chatthrob {
  background-color:#000;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.7);
  border-radius:6px;
  bottom:40px;
  color:#fff;
  display:none;
  font-size:14px;
  height:40px;
  opacity:.8;
  padding:10px;
  position:absolute;
  right:20px;
  width:150px;
  z-index:200;
}


/* pad content styles ######################################################### */
/* lists */
.list-bullet2, .list-indent2, .list-number2 {margin-left:3em;}
.list-bullet3, .list-indent3, .list-number3 {margin-left:4.5em;}
.list-bullet4, .list-indent4, .list-number4 {margin-left:6em;}
.list-bullet5, .list-indent5, .list-number5 {margin-left:7.5em;}
.list-bullet6, .list-indent6, .list-number6 {margin-left:9em;}
.list-bullet7, .list-indent7, .list-number7 {margin-left:10.5em;}
.list-bullet8, .list-indent8, .list-number8 {margin-left:12em;}

/* unordered lists */
UL {list-style-type:disc; margin-left:1.5em;}
UL UL {margin-left:0 !important;}

.list-bullet2, .list-bullet5, .list-bullet8 {list-style-type:circle;}
.list-bullet3, .list-bullet6 {list-style-type:square;}

.list-indent1, .list-indent2, .list-indent3, .list-indent5, .list-indent5, .list-indent6, .list-indent7, .list-indent8 {list-style-type:none;}

/* ordered lists */
OL {list-style-type:decimal; margin-left:1.5em;}
.list-number2, .list-number5, .list-number8 {list-style-type:lower-latin;}
.list-number3, .list-number6 {list-style-type:lower-roman;}


/* media-specific styles ###################################################### */
@media screen and (max-width:960px) {
  .modaldialog {left:0; margin:0 auto; position:relative; top:40px; width:80%;}
}

@media only screen and (min-device-width:320px) and (max-device-width:720px) {
  #editbar UL LI {padding:4px 3px;}
  #editbar #menu_right > LI {padding:4px 8px;margin-top:2px; padding:4px 8px;}
  #editbar #menu_right {
    background:#f7f7f7;
    background:linear-gradient(#f7f7f7, #f1f1f1 80%);
    border-top:1px solid #ccc;
    bottom:0;
    height:32px;
    overflow:hidden;
    position:fixed;
    width:100%;
  }
  #editbar #menu_right LI:not(:last-child) {display:none;}
  #editbar #menu_right LI:last-child {border-radius:0; border:0; float:right; height:24px; margin-top:0;}
  #chaticon {opacity:.8;}
  #users {right:4px;}
  #mycolorpicker {left:-72px;}  /* #mycolorpicker:width - #users:width */
  #editorcontainer {margin-bottom:33px;}
  #chaticon {
    background:#f7f7f7;
    background:linear-gradient(#f7f7f7, #f1f1f1 80%);
    border:0;
    border-radius:0;
    border-right:none;
    bottom:0;
    right:55px;
  }
  #chatbox {bottom:32px; right:0;}
  #editbar UL LI A SPAN {top:-3px;}
  #usericonback {margin-top:4px;}
}


/* IE fixes ################################################################### */
* HTML #modaloverlay {/* for IE 6+ */
  background-image:none;
  background-repeat:no-repeat;
  opacity:1; /* in case this is looked at */
}


/* We give docbar a higher z-index than its descendant impexp-wrapper in
   order to allow the Import/Export panel to be on top of stuff lower
   down on the page in IE.  Strange but it works! */
#docbar {z-index:52;}

#impexp-wrapper {right:10px; width:650px;}
#impexp-panel {height:160px;}
.docbarimpexp-closing #impexp-wrapper {z-index:50;}

#savedrevs-wrapper {left:0; width:100%;}
#savedrevs-panel {height:79px;}
.docbarsavedrevs-closing #savedrevs-wrapper {z-index:50;}
#savedrevs-wrapper .dbpanel-rightedge {background-position:0 -10px;}

#options-wrapper {right:200px; width:340px;}
#options-panel {height:114px;}
.docbaroptions-closing #options-wrapper {z-index:50;}

#security-wrapper {right:300px; width:320px;}
#security-panel {height:130px;}
.docbarsecurity-closing #security-wrapper {z-index:50;}

#revision-notifier {position:absolute; right:8px; top:25px;
  width:auto; height:auto; font-size:1.2em; background:#ffc;
  border:1px solid #aaa; color:#444; padding:3px 5px;
  display:none; z-index:55;}
#revision-notifier .label {color:#777; font-weight:700;}

#mainmodals {z-index:600;}  /* higher than the modals themselves so that modals are on top in IE */
.modalfield {border:1px solid #bbb; font-size:1.2em; padding:1px;}
#mainmodals .editempty {color:#aaa;}

.expand-collapse {background:url(static/img/sharedistri.gif) 0 3px no-repeat; height:22px; padding-left:17px; text-decoration:none;}
.expand-collapse.expanded {background-position:0 -31px;}

.modaldialog {
  background:#fff1a8 none;
  border:2px solid #fde97f;
  border-radius:5px;
  color:#666;
  display:none;
  height:auto;
  left:50%;
  margin:5em auto 2em;
  overflow:hidden;
  padding:10px 16px;
  position:absolute;
  text-align:center;
  top:100px;
  width:485px;
  z-index:501;
  zoom:1;
}
.modaldialog .modaldialog-inner {padding:10px;}
.modaldialog .modaldialog-hide {
  background:url(static/img/sharebox4.gif) -454px -6px no-repeat;
  display:block;
  float:right;
  height:22px;
  margin-right:-5px;
  margin-top:-5px;
  width:22px;
}

.modaldialog LABEL, .modaldialog H1 {color:#222; font-size:125%; font-weight:700;}

.modaldialog TH {text-align:left; vertical-align:top;}

.modaldialog.cboxreconnecting .modaldialog-inner,
.modaldialog.cboxconnecting .modaldialog-inner
  {background:url(../../static/img/ajax-loader.gif) no-repeat 50% 0; height:100px;}

.cboxdisconnected #connectionboxinner DIV,
.cboxdisconnected .disconnected H2,
.cboxdisconnected_userdup .disconnected .h2_disconnect,
.cboxdisconnected_unauth .disconnected .h2_disconnect
  {display:none;}

.cboxdisconnected_userdup #connectionboxinner #disconnected_userdup,
.cboxdisconnected_deleted #connectionboxinner #disconnected_deleted,
.cboxdisconnected_initsocketfail #connectionboxinner #disconnected_initsocketfail,
.cboxdisconnected_looping #connectionboxinner #disconnected_looping,
.cboxdisconnected_slowcommit #connectionboxinner #disconnected_slowcommit,
.cboxdisconnected_unauth #connectionboxinner #disconnected_unauth,
.cboxdisconnected_unknown #connectionboxinner #disconnected_unknown,
.cboxdisconnected_initsocketfail #connectionboxinner #reconnect_advise,
.cboxdisconnected_looping #connectionboxinner #reconnect_advise,
.cboxdisconnected_slowcommit #connectionboxinner #reconnect_advise,
.cboxdisconnected_unknown #connectionboxinner #reconnect_advise,
.cboxdisconnected #reconnect_form,
.cboxdisconnected .disconnected .h2_disconnect,
.cboxdisconnected_userdup .disconnected .h2_userdup,
.cboxdisconnected_unauth .disconnected .h2_unauth
  {display:block;}

#connectionstatus {height:41px; overflow:hidden; position:absolute; right:0; width:37px; z-index:11;}
#connectionboxinner .connecting {
  margin-top:20px;
  font-size:2em;
  color:#555;
  text-align:center;
  display:none;
}
.cboxconnecting #connectionboxinner .connecting {display:block;}

#connectionboxinner .disconnected h2 {
  font-size:1.8em; color:#333;
  text-align:left;
  margin-top:10px; margin-left:10px; margin-right:10px;
  margin-bottom:10px;
}
#connectionboxinner .disconnected p {
  margin:10px 10px;
  font-size:1.2em;
  line-height:1.1;
  color:#333;
}
#connectionboxinner .disconnected {display:none;}
.cboxdisconnected #connectionboxinner .disconnected {display:block;}

#connectionboxinner .reconnecting {color:#555; display:none; font-size:1.6em; margin-top:20px; text-align:center;}
.cboxreconnecting #connectionboxinner .reconnecting {display:block;}




.sharebox-url {height:18px; font-size:1.3em; line-height:18px; padding:2px; text-align:left; width:440px;}
#sharebox-send {background:url(static/img/sharebox4.gif) -383px -289px no-repeat; display:block; float:right; height:22px; width:87px;}

#viewbarcontents {display:none;}
#bottomarea {
  height:28px;
  overflow:hidden;
  position:absolute;
  height:28px;
  bottom:0;
  left:0;
  right:0;
  font-size:1.2em;
  color:#444;
}
#widthprefcheck {
  background-image:url(static/img/layoutbuttons.gif);
  background-repeat:no-repeat;
  cursor:pointer;
  height:20px;
  position:absolute;
  right:2px;
  top:4px;
  width:86px;
}
.widthprefunchecked {background-position:-1px -1px;}
.widthprefchecked {background-position:-1px -23px;}
#sidebarcheck {
  background-image:url(static/img/layoutbuttons.gif);
  background-repeat:no-repeat;
  cursor:pointer;
  height:20px;
  position:absolute;
  right:90px;
  top:4px;
  width:86px;
}
.sidebarunchecked {background-position:-1px -45px;}
.sidebarchecked {background-position:-1px -67px;}

#modaloverlay {
  background-repeat:repeat;
  display:none;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:500;
}


/* to be removed ############################################################## */
/*// the top bar is currently hidden!
#docbar {background-color:#fbfbfb; height:25px; margin-top:6px; position:relative; zoom:1;}
.docbarbutton {border-left:1px solid #ccc; padding-top:2px 4px; white-space:nowrap;}
.docbarbutton.highlight {background-color:#fef2bd; border:1px solid #ccc; border-right:0;}

#docbarpadtitle {
  color:#444;
  font-size:1.6em;
  font-weight:400;
  height:22px;
  left:9px;
  line-height:22px;
  margin-left:2px;
  overflow:hidden;
  position:absolute;
  text-overflow:ellipsis;
  top:2px;
  white-space:nowrap;
  width:280px;
}
.docbar-public #docbarpadtitle {background:url(static/img/public.gif) 0 50% no-repeat; padding-left:22px;}

#docbarrenamelink {display:none; font-size:1.1em; position:absolute; top:6px;}
#docbarrenamelink A {color:#999;}
#docbarrenamelink A:hover {color:#48d;}
#padtitlebuttons {
  background:url(static/img/ok_or_cancel.gif) 0 0 no-repeat;
  display:none;
  height:17px;
  left:170px;
  position:absolute;
  top:4px;
  width:74px;
  zoom:1;
}
#padtitlesave {
  display:block;
  height:0;
  left:0;
  overflow:hidden;
  padding-top:17px;
  position:absolute;
  top:0;
  width:23px;
}
#padtitlecancel {
  display:block;
  height:0;
  overflow:hidden;
  padding-top:17px;
  position:absolute;
  right:0;
  top:0;
  width:35px;
}
#padtitleedit {
  background:#fff;
  border: 1px solid #c3c3c3;
  border-color:#c3c3c3 #e6e6e6 #e6e6e6 #c3c3c3;
  display:none;
  font-size:1.4em;
  height:15px;
  left:5px;
  padding:2px;
  position:absolute;
  top:2px;
  width:150px;
}
#topbarmaximize {background:url(../../static/img/editbar-sprite.png) 0 -420px no-repeat; float:right; height:20; margin-right:-143px; margin-top:4px; width:20px;}
.maximized #topbarmaximize {background-position:-40px -420px;}
*/