*
{
  margin: 0;
	padding: 0;
}
.clear
{
	clear: both;
}
html
{
	font-size: 62.5%;
}
body
{
	background: #fff;
}
body, textarea
{
	font-family: Helvetica, Arial, sans-serif;
}
iframe
{
	position: absolute;
}
#users
{
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	border-radius: 6px;
	color: #fff;
	padding: 5px;
	position: absolute;
	right: 20px;
	top: 40px;
	width: 160px;
	z-index: 10;
}
a img
{
	border: 0;
}
#editbar ul
{
	list-style: none;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 3px;
	position: relative;
	z-index: 2;
}
#editbar
{
        border-bottom: 1px solid #ccc;
        background: #f7f7f7;
        background: -webkit-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -moz-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -ms-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -o-linear-gradient(#f7f7f7, #f1f1f1 80%);
	height: 32px;
	overflow: hidden;
	padding-top: 3px;
	width: 100%;
}
#editbar ul li
{
	background: #fff;
  background: -webkit-linear-gradient(#fff, #f0f0f0);  
  background: -moz-linear-gradient(#fff, #f0f0f0);  
  background: -ms-linear-gradient(#fff, #f0f0f0);  
  background: -o-linear-gradient(#fff, #f0f0f0); 
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	height: 18px;
	margin-left: 2px;
	overflow: hidden;
	padding: 4px 5px;
	width: 18px;
}
#editbar ul li a
{
	color: #ccc;
	text-decoration: none;
}
#editbar ul li a span
{
	position: relative;
	top: -2px;
}
#editbar ul li:hover
{
  background: #fff;
}
#editbar ul li:active
{
  background: #eee;
  background: -webkit-linear-gradient(#ddd, #fff);  
  background: -moz-linear-gradient(#ddd, #fff);
  background: -ms-linear-gradient(#ddd, #fff);  
  background: -o-linear-gradient(#ddd, #fff); 
}
#editbar ul li.separator
{
	background: inherit;
	border: inherit;
	visibility: hidden;
	width: 0px;
}
#editbar ul li a
{
	display: block;
}
#editbar ul li a img
{
	padding: 1px;
}
#editbar ul
{
	float: left;
}
#editbar ul#menu_right
{
	float: right;
}
#users
{
	display: none;
}
#editorcontainer
{
	bottom: 0px;
	left: 0px;
	position: absolute;
	top: 36px;
	width: 100%;
	z-index: 1;
}
#editorcontainer iframe
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#editorloadingbox
{
	color: #aaa;
	font-size: 2.5em;
	height: 30px;
	padding-bottom: 100px;
	padding-top: 100px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 100;
}
#editorcontainerbox
{
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#padpage
{
	bottom: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.maximized #padpage
{
	left: 8px;
	margin-left: 0;
	right: 8px;
	width: auto;
}
body.fullwidth #padpage
{
	margin-left: 6px;
	margin-right: 6px;
	width: auto;
}
body.squish1width #padpage
{
	width: 800px;
}
body.squish2width #padpage
{
	width: 700px;
}
a#backtoprosite, #accountnav
{
	display: block;
	display: none;
	font-size: 1.2em;
	height: 15px;
	line-height: 15px;
	position: absolute;
	top: 5px;
	width: auto;
}
a#backtoprosite, #accountnav a
{
	color: #cde7ff;
	text-decoration: underline;
}
a#backtoprosite
{
	background: url(static/img/protop.gif) no-repeat -5px -6px;
	left: 6px;
	padding-left: 20px;
}
#accountnav
{
	color: #fff;
	right: 30px;
}
.propad a#topbaretherpad
{
	background: url(static/img/protop.gif) no-repeat -397px -3px;
}
#specialkeyarea
{
	color: yellow;
	font-size: 1.5em;
	font-weight: bold;
	left: 250px;
	position: absolute;
	top: 5px;
}
#alertbar
{
	display: none;
	filter: alpha(opacity = 0);
	left: 0;
	margin-top: 6px;
	opacity: 0;
	position: absolute;
	right: 0;
	z-index: 53;
}
#servermsg
{
	background: #ffc;
	border: 1px solid #992;
	font-size: 1.2em;
	padding: 0.8em;
	position: relative;
	zoom: 1;
}
#servermsg h3
{
	float: left;
	font-weight: bold;
	margin-bottom: 1em;
	margin-right: 10px;
	width: auto;
}
#servermsg #servermsgdate
{
	color: #666;
	font-style: italic;
	font-weight: normal;
}
a#hidetopmsg
{
	bottom: 5px;
	position: absolute;
	right: 5px;
}
#shuttingdown
{
	background: #ffc;
	border: 1px solid #992;
	font-size: 1.2em;
	margin-top: 6px;
	padding: 0.6em;
	position: relative;
	zoom: 1;
}
#docbar
{
	background: #fbfbfb url(static/img/padtopback2.gif) repeat-x 0 -31px;
	height: 25px;
	margin-top: 6px;
	position: relative;
	zoom: 1;
}
.docbarbutton
{
	border-left: 1px solid #CCC;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	white-space: nowrap;
}
.docbarbutton img
{
	border: 0px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-top: 3px;
	vertical-align: middle;
	width: 13px;
}
.menu,
.menu ul
{
	font-size: 10pt;
	list-style-type: none;
}
.menu ul
{
	padding-left: 20px;
}
.menu a
{
	color: #444;
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
}
.docbarbutton.highlight
{
	background-color: #fef2bd;
	border: 1px solid #CCC;
	border-right: 0px;
}
#docbarleft
{
	background: url(static/img/padtop5.gif) no-repeat left -31px;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 7px;
}
#docbarpadtitle
{
	color: #444;
	font-size: 1.6em;
	font-weight: normal;
	height: 22px;
	height: auto;
	left: 9px;
	line-height: 22px;
	margin-left: 2px;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 2px;
	white-space: nowrap;
	width: 280px;
}
.docbar-public #docbarpadtitle
{
	background: url(static/img/public.gif) no-repeat left center;
	padding-left: 22px;
}
#docbarrenamelink
{
	display: none;
	font-size: 1.1em;
	position: absolute;
	top: 6px;
}
#docbarrenamelink a
{
	color: #999;
}
#docbarrenamelink a:hover
{
	color: #48d;
}
#padtitlebuttons
{
	background: url(static/img/ok_or_cancel.gif) 0px 0px;
	display: none;
	height: 17px;
	left: 170px;
	position: absolute;
	top: 4px;
	width: 74px;
	zoom: 1;
}
#padtitlesave
{
	display: block;
	height: 0;
	left: 0;
	overflow: hidden;
	padding-top: 17px;
	position: absolute;
	top: 0;
	width: 23px;
}
#padtitlecancel
{
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 17px;
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
}
#padtitleedit
{
	background: white;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #c3c3c3;
	display: none;
	font-size: 1.4em;
	height: 15px;
	left: 5px;
	padding: 2px;
	position: absolute;
	top: 2px;
	width: 150px;
}
#padmain
{
	bottom: 0px;
	left: 0px;
	margin-top: 0px;
	position: absolute;
	right: 0px;
	top: 63px !important;
	zoom: 1;
}
#padeditor
{
	bottom: 0px;
	left: 0;
	position: absolute;
	right: 0px;
	top: 0;
	zoom: 1;
}
.hidesidebar #padeditor
{
	right: 0;
}
#vdraggie
{
	background-image: url('../../static/img/etherpad_lite_icons.png');
	background-position: 0px -300px;
	background-repeat: no-repeat;
	bottom: 0;
	cursor: W-resize;
	height: 16px;
	position: absolute;
	right: 268px;
	top: 0;
	width: 16px;
	width: 56px;
	z-index: 10;
}
#editbarsavetable
{
	height: 24px;
	position: absolute;
	right: 8px;
	top: 6px;
}
#editbarsavetable td, #editbartable td
{
	white-space: nowrap;
}
#myswatchbox
{
	background: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	cursor: pointer;
	height: 22px;
	left: 5px;
	moz-border-radius: 3px;
	padding: 1px;
	position: absolute;
	top: 5px;
	width: 22px;
}
#myswatch
{
	background: transparent;
	height: 100%;
	width: 100%;
}
#mycolorpicker
{
	background: url(../img/colorpicker.gif) no-repeat left top;
	display: none;
	height: 140px;
	left: -240px;
	position: absolute;
	top: 0px;
	width: 232px;
	z-index: 101;
}
#mycolorpicker ul li
{
	float: left;
}
#mycolorpicker .picked
{
	border: 1px solid #000 !important;
}
#mycolorpicker .picked .pickerswatch
{
	border: 1px solid #fff;
}
#mycolorpickersave
{
	cursor: pointer;
	height: 0;
	left: 14px;
	overflow: hidden;
	padding-top: 20px;
	position: absolute;
	top: 102px;
	width: 47px;
}
#mycolorpickercancel
{
	cursor: pointer;
	height: 0;
	left: 87px;
	overflow: hidden;
	padding-top: 20px;
	position: absolute;
	top: 102px;
	width: 44px;
}
#myusernameform
{
	margin-left: 35px;
}
#myusernameedit
{
	background: transparent;
	border: 0;
	color: #fff;
	font-size: 1.3em;
	height: 18px;
	margin: 0;
	padding: 3px;
	width: 117px;
}
#myusernameform input.editable
{
	border: 1px solid #444;
}
#myuser .myusernameedithoverable:hover
{
	background: white;
	color: black;
}
#mystatusform
{
	margin-left: 35px;
	margin-top: 5px;
}
#mystatusedit
{
	background: transparent;
	border: 1px solid #bbb;
	color: #777;
	display: none;
	font-size: 1.2em;
	font-style: italic;
	height: 14px;
	margin: 0;
	padding: 2px;
	width: 199px;
}
#myusernameform .editactive, #myusernameform .editempty
{
	background: white;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #c3c3c3;
	color: #000;
}
#myusernameform .editempty
{
	color: #ef641e;
}
table#otheruserstable
{
	display: none;
}
#nootherusers
{
	color: #eee;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}
#nootherusers a
{
	color: #3C88FF;
}
#otheruserstable td
{
	border-top: 1px solid #555;
	color: #fff;
	height: 26px;
	padding: 0 2px;
	vertical-align: middle;
}
#otheruserstable .swatch
{
	border: 1px solid #000;
	height: 13px;
	margin: 0 4px;
	overflow: hidden;
	width: 13px;
}
.usertdswatch
{
	width: 1%;
}
.usertdname
{
	color: #444;
	font-size: 1.3em;
}
.usertdstatus
{
	color: #999;
	font-size: 1.1em;
	font-style: italic;
}
.usertdactivity
{
	color: #777;
	font-size: 1.1em;
}
.usertdname input
{
	border: 1px solid #bbb;
	padding: 2px;
	width: 80px;
}
.usertdname input.editactive, .usertdname input.editempty
{
	background: white;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #c3c3c3;
}
.usertdname input.editempty
{
	color: #888;
	font-style: italic;
}
.modaldialog.cboxreconnecting .modaldialog-inner,
.modaldialog.cboxconnecting .modaldialog-inner
{
	background: url(static/img/connectingbar.gif) no-repeat center 60px;
	height: 100px;
}
.modaldialog.cboxreconnecting
{
	background: #fed;
}
.modaldialog.cboxconnecting,
.modaldialog.cboxdisconnected
{
	background: #fdd;
}
.cboxdisconnected #connectionboxinner div
{
	display: none;
}
.cboxdisconnected_userdup #connectionboxinner #disconnected_userdup
{
	display: block;
}
.cboxdisconnected_initsocketfail #connectionboxinner #disconnected_initsocketfail
{
	display: block;
}
.cboxdisconnected_looping #connectionboxinner #disconnected_looping
{
	display: block;
}
.cboxdisconnected_slowcommit #connectionboxinner #disconnected_slowcommit
{
	display: block;
}
.cboxdisconnected_unauth #connectionboxinner #disconnected_unauth
{
	display: block;
}
.cboxdisconnected_unknown #connectionboxinner #disconnected_unknown
{
	display: block;
}
.cboxdisconnected_initsocketfail #connectionboxinner #reconnect_advise,
.cboxdisconnected_looping #connectionboxinner #reconnect_advise,
.cboxdisconnected_slowcommit #connectionboxinner #reconnect_advise,
.cboxdisconnected_unknown #connectionboxinner #reconnect_advise
{
	display: block;
}
.cboxdisconnected div#reconnect_form
{
	display: block;
}
.cboxdisconnected .disconnected h2
{
	display: none;
}
.cboxdisconnected .disconnected .h2_disconnect
{
	display: block;
}
.cboxdisconnected_userdup .disconnected h2.h2_disconnect
{
	display: none;
}
.cboxdisconnected_userdup .disconnected h2.h2_userdup
{
	display: block;
}
.cboxdisconnected_unauth .disconnected h2.h2_disconnect
{
	display: none;
}
.cboxdisconnected_unauth .disconnected h2.h2_unauth
{
	display: block;
}
#connectionstatus
{
	height: 41px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 37px;
	z-index: 11;
}
#connectionboxinner .connecting
{
	color: #555;
	display: none;
	font-size: 2.0em;
	margin-top: 20px;
	text-align: center;
}
.cboxconnecting #connectionboxinner .connecting
{
	display: block;
}
#connectionboxinner .disconnected h2
{
	color: #333;
	font-size: 1.8em;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: left;
}
#connectionboxinner .disconnected p
{
	color: #333;
	font-size: 1.2em;
	line-height: 1.1;
	margin: 10px 10px;
}
#connectionboxinner .disconnected
{
	display: none;
}
.cboxdisconnected #connectionboxinner .disconnected
{
	display: block;
}
#connectionboxinner .reconnecting
{
	color: #555;
	display: none;
	font-size: 1.6em;
	margin-top: 20px;
	text-align: center;
}
.cboxreconnecting #connectionboxinner .reconnecting
{
	display: block;
}
#reconnect_form button
{
	font-size: 12pt;
	padding: 5px;
}
#docbar
{
	z-index: 52;
}
#impexp-wrapper
{
	right: 10px;
	width: 650px;
}
#impexp-panel
{
	height: 160px;
}
.docbarimpexp-closing #impexp-wrapper
{
	z-index: 50;
}
#savedrevs-wrapper
{
	left: 0;
	width: 100%;
}
#savedrevs-panel
{
	height: 79px;
}
.docbarsavedrevs-closing #savedrevs-wrapper
{
	z-index: 50;
}
#savedrevs-wrapper .dbpanel-rightedge
{
	background-position: 0 -10px;
}
#options-wrapper
{
	right: 200px;
	width: 340px;
}
#options-panel
{
	height: 114px;
}
.docbaroptions-closing #options-wrapper
{
	z-index: 50;
}
#security-wrapper
{
	right: 300px;
	width: 320px;
}
#security-panel
{
	height: 130px;
}
.docbarsecurity-closing #security-wrapper
{
	z-index: 50;
}
#revision-notifier
{
	background: #ffc;
	border: 1px solid #aaa;
	color: #444;
	display: none;
	font-size: 1.2em;
	height: auto;
	padding: 3px 5px;
	position: absolute;
	right: 8px;
	top: 25px;
	width: auto;
	z-index: 55;
}
#revision-notifier .label
{
	color: #777;
	font-weight: bold;
}
#padoptions
{
	color: #444;
	font-size: 1.2em;
	height: 100%;
	left: 0;
	line-height: 15px;
	position: absolute;
	top: 0;
	width: 100%;
}
#options-viewhead
{
	font-weight: bold;
	height: auto;
	left: 15px;
	position: absolute;
	top: 10px;
	width: auto;
}
#padoptions label
{
	display: block;
}
#padoptions input
{
	margin: 0;
	padding: 0;
}
#options-colorscheck
{
	height: 15px;
	left: 15px;
	position: absolute;
	top: 34px;
	width: 15px;
}
#options-colorslabel
{
	left: 35px;
	position: absolute;
	top: 34px;
}
#options-linenoscheck
{
	height: 15px;
	left: 15px;
	position: absolute;
	top: 57px;
	width: 15px;
}
#options-linenoslabel
{
	left: 35px;
	position: absolute;
	top: 57px;
}
#options-fontlabel
{
	left: 15px;
	position: absolute;
	top: 82px;
}
#viewfontmenu
{
	left: 90px;
	position: absolute;
	top: 80px;
	width: 110px;
}
#options-viewexplain
{
	border-left: 1px solid #ccc;
	color: #999;
	font-size: .7em;
	font-weight: bold;
	height: 70px;
	left: 215px;
	line-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	top: 15px;
	width: 100px;
}
#options-close
{
	bottom: 8px;
	color: #444;
	display: block;
	font-size: 85%;
	height: auto;
	position: absolute;
	right: 7px;
	width: auto;
}
#mainmodals
{
	z-index: 600;
}
.modalfield
{
	border: 1px solid #bbb;
	font-size: 1.2em;
	padding: 1px;
}
#mainmodals .editempty
{
	color: #aaa;
}
.expand-collapse
{
	background-image: url(static/img/sharedistri.gif);
	background-position: 0 3px;
	background-repeat: no-repeat;
	height: 22px;
	padding-left: 17px;
	text-decoration: none;
}
.expand-collapse.expanded
{
	background-position: 0 -31px;
}
.modaldialog
{
	background: white;
	border: 1px solid #999;
	display: none;
	left: 50%;
	margin-left: -243px;
	overflow: hidden;
	position: absolute;
	top: 100px;
	width: 485px;
	z-index: 501;
	zoom: 1;
}
.modaldialog .modaldialog-inner
{
	padding: 10pt;
}
.modaldialog .modaldialog-hide
{
	background-image: url(static/img/sharebox4.gif);
	background-position: -454px -6px;
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 22px;
	margin-right: -5px;
	margin-top: -5px;
	width: 22px;
}
.modaldialog label,
.modaldialog h1
{
	color: #222222;
	font-size: 125%;
	font-weight: bold;
}
.modaldialog th
{
	text-align: left;
	vertical-align: top;
}
.nonprouser #sharebox-stripe
{
	display: none;
}
.sharebox-url
{
	font-size: 1.3em;
	height: 18px;
	line-height: 18px;
	padding: 2px;
	text-align: left;
	width: 440px;
}
#sharebox-send
{
	background-image: url(static/img/sharebox4.gif);
	background-position: -383px -289px;
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 22px;
	width: 87px;
}
#viewbarcontents
{
	display: none;
}
#viewzoomtitle
{
	height: 20px;
	left: 10px;
	line-height: 20px;
	position: absolute;
	top: 4px;
	width: auto;
}
#viewzoommenu
{
	width: 65px;
}
#bottomarea
{
	bottom: 0px;
	color: #444;
	font-size: 1.2em;
	height: 28px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	right: 0px;
}
#widthprefcheck
{
	background-image: url(static/img/layoutbuttons.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 4px;
	width: 86px;
}
.widthprefunchecked
{
	background-position: -1px -1px;
}
.widthprefchecked
{
	background-position: -1px -23px;
}
#sidebarcheck
{
	background-image: url(static/img/layoutbuttons.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 90px;
	top: 4px;
	width: 86px;
}
.sidebarunchecked
{
	background-position: -1px -45px;
}
.sidebarchecked
{
	background-position: -1px -67px;
}
#feedbackbutton
{
	background: url(static/img/bottomareagfx.gif);
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 17px;
	position: absolute;
	right: 220px;
	top: 5px;
	width: 68px;
}
#modaloverlay
{
	background-repeat: repeat-both;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
}
* html #modaloverlay
{
	background-image: none;
	background-repeat: no-repeat;
	opacity: 1;
}
a#topbarmaximize
{
	background: url(static/img/maximize_normal.png);
	float: right;
	height: 16px;
	margin-right: -143px;
	margin-top: 4px;
	width: 16px;
}
.maximized a#topbarmaximize
{
	background: url(static/img/maximize_maximized.png);
}
#editbarinner h1
{
	font-size: 16px;
	line-height: 29px;
	margin-top: 0;
	padding-left: 6pt;
}
#editbarinner h1 a
{
	font-size: 12px;
}
.bigbutton
{
	background-color: #a3bde0;
	border-bottom-color: #86aee1;
	border-left-color: #d6e2f1;
	border-right-color: #86aee1;
	border-style: solid;
	border-top-color: #d6e2f1;
	border-width: 2px;
	color: #555555;
	display: block;
	font-size: 20pt;
	margin: 10pt;
	moz-border-radius-bottomleft: 3pt;
	moz-border-radius-bottomright: 3pt;
	moz-border-radius-topleft: 3pt;
	moz-border-radius-topright: 3pt;
	padding: 50pt;
	text-align: center;
	text-decoration: none;
	webkit-border-bottom-left-radius: 3pt;
	webkit-border-bottom-right-radius: 3pt;
	webkit-border-top-left-radius: 3pt;
	webkit-border-top-right-radius: 3pt;
}
.modaldialog .bigbutton
{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
#embed, #readonly
{
	background-color: #000;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	border-radius: 6px;
	color: white;
	display: none;
	font-size: 14px;
	moz-border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 40px;
	width: 400px;
	z-index: 500;
}
#embedcode, #readonlyUrl
{
	margin-left: 10px;
}
#embedinput, #readonlyInput
{
	display: inline;
	height: 24px;
	margin-top: 10px;
	padding-left: 4px;
	width: 375px;
}
ul#colorpickerswatches
{
	padding-left: 3px;
	padding-top: 5px;
}
ul#colorpickerswatches li
{
	border: 1px solid #ccc;
	height: 14px;
	margin: 3px 6px;
	overflow: hidden;
	padding: 0px;
	width: 14px;
}
ul#colorpickerswatches li:hover
{
	border: 1px solid #000;
	cursor: pointer;
}
#chatbox
{
	background-color: #f3f7f9;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0px;
	display: none;
	height: 200px;
	padding: 3px;
	padding-bottom: 10px;
	position: absolute;
	right: 20px;
	width: 180px;
	z-index: 400;
}
#chattext
{
	background-color: white;
	border: 1px solid white;
	bottom: 25px;
	font-size: 12px;
	left: 0px;
	overflow-y: scroll;
	position: absolute;
	right: 0px;
	top: 25px;
}
#chattext p
{
	overflow-x: hidden;
	padding: 3px;
}
#chatinputbox
{
	bottom: 0px;
	left: 3px;
	padding: 3px 2px;
	position: absolute;
	right: 0px;
}
#chatlabel
{
	bottom: 3px;
	color: #555;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	position: relative;
	text-decoration: none;
}
#chatinput
{
	border: 1px solid #BBBBBB;
	float: right;
	width: 100%;
}
#chaticon
{
	background-color: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0px;
	cursor: pointer;
	padding: 5px;
	position: absolute;
	right: 20px;
	z-index: 400;
}
#chaticon a
{
	text-decoration: none;
}
#chatcounter
{
	bottom: 2px;
	color: #555;
	font-size: 9px;
	position: relative;
}
#titlebar
{
	bottom: 2px;
	color: #555;
	font-weight: bold;
	line-height: 16px;
	position: relative;
}
#titlelabel
{
	font-size: 13px;
	margin-left: 20px;
	padding-top: 3px;
	position: absolute;
}
#titlecross
{
	color: #555;
	cursor: pointer;
	float: right;
	font-size: 25px;
	text-align: right;
	text-decoration: none;
}
.time
{
	color: #333;
	float: right;
	font-size: 10px;
	font-style: italic;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 2px;
}
.ui-resizable
{
	position: relative;
}
.ui-resizable-handle
{
	display: block;
	font-size: 0.1px;
	position: absolute;
	z-index: 99999;
}
.ui-resizable-nw
{
	background-image: url("../img/nw-resize.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	cursor: nw-resize;
	height: 22px;
	left: 0;
	top: 0;
	width: 22px;
}
.ui-resizable-ne
{
	cursor: ne-resize;
	height: 9px;
	right: -5px;
	top: -5px;
	width: 9px;
}
#importexport
{
	background-color: #000;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	border-radius: 6px;
	color: white;
	display: none;
	font-size: 14px;
	height: 170px;
	moz-border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 40px;
	width: 450px;
	z-index: 500;
}
#import
{
	left: 10px;
	line-height: 20px;
	position: absolute;
	width: 250px;
}
#export
{
	line-height: 20px;
	position: absolute;
	right: 10px;
	width: 180px;
}
.exporttype
{
	background-image: url("../img/fileicons.gif");
	background-repeat: no-repeat;
	color: #fff;
	line-height: 25px;
	padding-left: 25px;
	text-decoration: none;
}
#importexportline
{
	border: dotted 1px;
	height: 165px;
	left: 260px;
	opacity: .8;
	position: absolute;
	width: 0px;
}
.impexpbutton
{
	background-image: -moz-linear-gradient(center top , #EEEEEE, white 20%, white 20%);
	padding: 3px;
}
#exporthtml
{
	background-position: 2px -25px;
}
#exportplain
{
	background-position: 2px -121px;
}
#exportword
{
	background-position: 2px -0px;
}
#exportpdf
{
	background-position: 2px -97px;
}
#exportopen
{
	background-position: 2px -74px;
}
#exportwordle
{
	background-position: 2px -49px;
}
#export a
{
	text-decoration: none;
}
#importstatusball
{
	display: none;
}
#importarrow
{
	display: none;
}
#importmessagesuccess
{
	display: none;
}
#importsubmitinput
{
	height: 25px;
	margin-top: 12px;
	width: 85px;
}
#importstatusball
{
	height: 50px;
}
#chatthrob
{
	background-color: #000;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	border-radius: 6px;
	bottom: 40px;
	color: white;
	display: none;
	font-size: 14px;
	height: 40px;
	moz-border-radius: 6px;
	opacity: .8;
	padding: 10px;
	position: absolute;
	right: 20px;
	width: 150px;
	z-index: 200;
}
.buttonicon
{
	background-image: url('../../static/img/etherpad_lite_icons.png');
	background-repeat: no-repeat;
	height: 16px;
	margin-left: 1px;
	margin-top: 1px;
	width: 16px;
}
#usericon
{
	width: 27px !important;
}
#focusprotector
{
	background-color: white;
	bottom: 0px;
	display: none;
	left: 0px;
	opacity: 0.01;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 100;
}
#showhistorylabel
{
	cursor: hand;
	cursor: pointer;
	left: 58px;
	position: absolute;
	top: 4px;
}