/* @override 
	http://localhost:9001/static/css/pad_lite.css */

*,html,body,p{ margin: 0; padding: 0; }
.clear { clear: both; }
html { font-size: 62.5%; }
body { background: #fff;}
body, textarea { font-family: Helvetica, Arial, sans-serif; }

#users
{
  position: absolute;
  z-index: 10;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  width: 160px;
  right: 4px;
  top: 40px;
  color: #fff;
  padding: 5px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
}

#sharebutton {
  background: url(/static/img/jun09/pad/inviteshare2.gif) no-repeat 0 -31px;
  position: relative;
  display: block; 
  top: 6px; 
  padding-top: 30px;
  height: 0; overflow: hidden; width: 96px;
  left:50%;
  margin-left: -48px;
}


a img
{
  border: 0;
}

/* menu */
#editbar ul
{
  position: relative;
  list-style: none;
  padding-right: 3px;
  padding-left: 1px;
  z-index: 2;
  height: 31px;
    overflow: hidden;

}

#editbar
{
  background-color: #F3F7F9;
  width: 100%;
  height: 31px;
  padding-top: 4px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

#editbar ul li
{
  float: left;
  margin-left: 2px;
  background-color: #fff;
  
  -moz-border-radius: 4px;
  border-radius: 4px; 
  
  border: 1px solid #ccc;
  padding: 4px 5px;
  
  height: 18px;
  
  overflow: hidden;
  
  background: white; /* fallback for older/unsupporting browsers */  
  background: -moz-linear-gradient(top, #eee, white 20%, white 20%);  
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), color-stop(20%, white), color-stop(20%, white));  
}

#editbar ul li a
{
  text-decoration: none;
  color: #ccc;
}

#editbar ul li a span
{
  position: relative;
  top:-2px
}

#editbar ul li:hover
{
  border: 1px solid #888;
  background: #fff;
}

#editbar ul li.separator
{
  border: inherit;
  background: inherit;
  visibility:hidden;
}
#editbar ul li a
{
  display: block;
}
#editbar ul li a img
{
  padding: 1px;
}


#editbar ul
{
  float: left;
}
#editbar ul#menu_right
{
  float: right;
}

#users
{
  display: none;
}

#editorcontainer 
{
  position: absolute;
  
  width: 100%;
  
  top: 36px;
  left: 0px;  
  bottom: 0px;

  z-index: 1;
}

#editorcontainer iframe {
  height: 100%;
  width: 100%; 
  padding: 0; 
  margin: 0; 
}

#editorloadingbox { padding-top: 100px; padding-bottom: 100px; font-size: 2.5em;  color: #aaa;
   text-align: center; position: absolute; width: 100%; height: 30px; z-index: 100; }




/**

OLD
*/

/* @override 
	http://localhost:9001/static/css/pad_lite.css */

#padpage {
 position: absolute;
 top: 0px;
 bottom: 0px;
 width: 100%;
}

.maximized #padpage {
 left: 8px;
 right: 8px;
 width: auto;
 margin-left: 0;
}

body.fullwidth #padpage { width: auto; margin-left: 6px; margin-right: 6px; }
body.squish1width #padpage { width: 800px; }
body.squish2width #padpage { width: 700px; }

a#backtoprosite, #accountnav {
  display: block; position: absolute; height: 15px; line-height: 15px;
  width: auto; top: 5px; font-size: 1.2em; display:none;
}
a#backtoprosite, #accountnav a { color: #cde7ff; text-decoration: underline; }

a#backtoprosite { padding-left: 20px; left: 6px;
  background: url(/static/img/jun09/pad/protop.gif) no-repeat -5px -6px; }
#accountnav { right: 30px; color: #fff; }
  
#topbarcenter { margin-left: 150px; margin-right: 150px; text-align:center;}
a#topbaretherpad { margin-left: auto; margin-right: auto; display: block; width: 103px;
  position: relative; top: 3px; height: 0; padding-top: 20px;
/*  background: url(/static/img/jun09/pad/padtop5.gif) no-repeat -397px -3px; overflow: hidden; */
}


#topbarBrand {font-size:2.1em; color: white; font-weight: bold; text-decoration: none; text-align: center;}



#EtherpadLink {font-size: 1.2em; color: white;float:left;margin-left:-140px;margin-top:4px; text-decoration: none;  }
#Licensing {font-size: 1.2em; color: white;float:left;margin-top:4px;margin-left:-75px; text-decoration: none;  }
#fullscreen {font-size: 1.2em; color: white;float:right;margin-top:4px;margin-right:-120px; text-decoration: none;  }

.propad a#topbaretherpad { background: url(/static/img/jun09/pad/protop.gif) no-repeat -397px -3px; }

#specialkeyarea { top: 5px; left: 250px; color: yellow; font-weight: bold;
  font-size: 1.5em; position: absolute; }

#alertbar {
  margin-top: 6px;
  opacity: 0;
  filter: alpha(opacity = 0); /* IE */
  display: none;
  position:absolute;
  left:0;
  right:0;
  z-index:53;
}

#servermsg { position: relative; zoom: 1; border: 1px solid #992;
  background: #ffc; padding: 0.8em; font-size: 1.2em; }
#servermsg h3 { font-weight: bold; margin-right: 10px;
  margin-bottom: 1em; float: left; width: auto; }
#servermsg #servermsgdate { font-style: italic; font-weight: normal; color: #666; }
a#hidetopmsg { position: absolute; right: 5px; bottom: 5px; }

#shuttingdown { position: relative; zoom: 1; border: 1px solid #992;
  background: #ffc; padding: 0.6em; font-size: 1.2em; margin-top: 6px; }

#docbar { margin-top: 6px; height: 25px; position: relative; zoom: 1;
  background: #fbfbfb url(/static/img/jun09/pad/padtopback2.gif) repeat-x 0 -31px; }

.docbarbutton
{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #CCC;
  white-space: nowrap;
}

.docbarbutton img
{
  border: 0px;
  width: 13px;
  margin-right: 2px;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 2px;
}

.menu,
.menu ul {
  font-size: 10pt;
  list-style-type: none;
}

.menu ul {
  padding-left: 20px;
}

.menu a {
  font-size: 10px;
  line-height: 18px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

.docbarbutton.highlight
{
  background-color: #fef2bd;
  border: 1px solid #CCC;
  border-right: 0px;
}

#docbarleft { position: absolute; left: 0; top: 0; height: 100%;
  overflow: hidden;
  background: url(/static/img/jun09/pad/padtop5.gif) no-repeat left -31px; width: 7px; }


  
#docbarpadtitle { position: absolute; height: auto; left: 9px;
  width: 280px; font-size: 1.6em; color: #444; font-weight: normal;
  line-height: 22px; margin-left: 2px; height: 22px; top: 2px;
  overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
  white-space:nowrap; }
.docbar-public #docbarpadtitle { padding-left: 22px;
  background: url(/static/img/jun09/pad/public.gif) no-repeat left center; }
  
#docbarrenamelink { position: absolute; top: 6px;
  font-size: 1.1em; display: none; }
#docbarrenamelink a { color: #999; }
#docbarrenamelink a:hover { color: #48d; }
#padtitlebuttons { position: absolute; width: 74px; zoom: 1;
  height: 17px; top: 4px; left: 170px; display: none;
  background: url(/static/img/jun09/pad/ok_or_cancel.gif) 0px 0px; }
#padtitlesave { position: absolute; display: block;
  height: 0; padding-top: 17px; overflow: hidden;
  width: 23px; left: 0; top: 0; }
#padtitlecancel { position: absolute; display: block;
  height: 0; padding-top: 17px; overflow: hidden;
  width: 35px; right: 0; top: 0; }
#padtitleedit { position: absolute; top: 2px; left: 5px;
  height: 15px; padding: 2px; font-size: 1.4em;
  background: white; border-left: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
  width: 150px; display: none;
}
  
#padmain {
  margin-top: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  zoom: 1;
}

#padeditor {
  bottom:0px;
  left:0;
  position:absolute;
  right:0px;
  top:0;
  zoom: 1;
}
.hidesidebar #padeditor { right: 0; }

#vdraggie {
  background: url(/static/img/jun09/pad/vdraggie.gif) no-repeat top center;
  cursor: W-resize;
  bottom:0;
  position:absolute;
  right:268px;
  top:0;
  width:56px;
  z-index: 10;
}

#editbarsavetable
{
  position:absolute;
  top: 6px;
  right: 8px;
  height: 24px;
}

#editbarsavetable td, #editbartable td
{
  white-space: nowrap;
}

.editbarbutton
{
  border-top: 1px solid #8b9eba;
  border-bottom: 1px solid #8b9eba;
  border-left: 1px solid #758aa9;
  background-color: white;
  padding: 0px 2px;
}

.editbarbutton img
{
  border: 0px;
  width: 16px;
  height: 16px;
}

.editbarbutton a {
  text-decoration: none;
}

.editbarbutton a:active
{
  position: relative;
  top: 1px;
  left: 1px;
}

.editbargroupsfirst
{
  border-left-width: 0px !important;
}

#editbar #syncstatussyncing { position: absolute; height: 26px; width: 26px;
  background: url(/static/img/jun09/pad/syncing2.gif) no-repeat center center;
  right: 38px; top: 5px; display: none; }
#editbar #syncstatusdone { position: absolute; height: 26px; width: 26px;
  background: url(/static/img/jun09/pad/syncdone.gif) no-repeat center center;
  right: 38px; top: 5px; display: none; }

#padsidebar { 
  bottom: 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
  overflow: hidden;
  z-index: 11;
}
.hidesidebar #padsidebar { width: 0; overflow: hidden; }

#myswatchbox { position: absolute; left: 5px; top: 5px; width: 22px; height: 22px;
  /*border-top: 1px solid #c3cfe0; border-left: 1px solid #c3cfe0;
  border-right: 1px solid #ecf3fc; border-bottom: 1px solid #ecf3fc;*/
  border: 1px solid #fff;
  padding: 1px; background: transparent; cursor: pointer; 
  -moz-border-radius: 3px;
  border-radius: 3px; 
  }
/*
#myuser .myswatchboxhoverable, #myuser .myswatchboxunhoverable {
  background: white;
}
#myuser .myswatchboxhoverable:hover {
  background: #bbb;
}
*/

#myswatch { width: 100%; height: 100%; background: transparent;/*...initially*/ }
#mycolorpicker {
  background: url(/static/img/jun09/pad/colorpicker.gif) no-repeat left top;
  width: 232px; height: 140px;
  position: absolute;
  left: -240px; top: 0px; z-index: 101;
  display: none;/*...initially*/
}

#mycolorpicker ul li
{
  float: left;
}
#mycolorpicker .picked { border: 1px solid #000 !important; }

#mycolorpicker .picked .pickerswatch { border: 1px solid #fff; }
#mycolorpickersave { position: absolute; left: 14px; top: 102px;
  width: 47px; height: 0; padding-top: 20px; overflow: hidden;
  cursor: pointer; }
#mycolorpickercancel { position: absolute; left: 87px; top: 102px;
  width: 44px; height: 0; padding-top: 20px; overflow: hidden;
  cursor: pointer; }
#myusernameform { margin-left: 35px; }
#myusernameedit { font-size: 1.3em; color: #fff;
  padding: 3px; height: 18px; margin: 0; border: 0;
  width: 117px; background: transparent; }
#myusernameform input.editable { border: 1px solid #444; }
#myuser .myusernameedithoverable:hover { background: white; color: black}
#mystatusform { margin-left: 35px; margin-top: 5px; }
#mystatusedit { font-size: 1.2em; color: #777;
  font-style: italic; display: none;
  padding: 2px; height: 14px; margin: 0; border: 1px solid #bbb;
  width: 199px; background: transparent; }
#myusernameform .editactive, #myusernameform .editempty {
  background: white;  border-left: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
  color: #000
}
#myusernameform .editempty { color: #ef641e; }
  
table#otheruserstable { display: none; }
#nootherusers { padding: 10px; font-size: 1.2em; color: #eee; font-weight: bold;}
#nootherusers a { color: #3C88FF; }

#otheruserstable td {
  border-top: 1px solid #555;
  height: 26px;
  vertical-align: middle;
  padding: 0 2px;
  color: #fff;
}

#otheruserstable .swatch {
  border: 1px solid #000; width: 13px; height: 13px; overflow: hidden;
  margin: 0 4px;
}

.usertdswatch { width: 1%; }
.usertdname { font-size: 1.3em; color: #444; }
.usertdstatus { font-size: 1.1em; font-style: italic; color: #999; }
.usertdactivity { font-size: 1.1em; color: #777; }

.usertdname input { border: 1px solid #bbb; width: 80px; padding: 2px; }
.usertdname input.editactive, .usertdname input.editempty {
  background: white;  border-left: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
}
.usertdname input.editempty { color: #888; font-style: italic;}
  /*#guestslabel { font-size: 1.2em; position: absolute; width: auto;
  height: 22px; line-height: 22px; top: 4px; left: 8px; }
#guestsmenu { font-size: 1.2em; position: absolute; left: 100px;
  top: 5px; width: 95px; }
.guestpolicystuff { display: none; }*/

.guestprompt { border: 1px solid #ccc; font-size: 1.2em;
  padding: 5px; color: #222; background: #ffc; }
.guestprompt .choices { float: right; }
.guestprompt a { margin: 0 0.5em; }

#chattop { background: #ecf2fa; padding: 5px; font-size: 1.2em; border-bottom: 1px solid #ddd; }
#chattop a { color: #36b; }
#chatlines .chatline { color: #444; padding-left: 5px; padding-top: 2px; padding-bottom: 2px;
  background: #ddd; overflow: hidden; }
#chatlines .chatlinetime { display: block; font-size: 1em; color: #666; float: right; width: auto;
  padding-right: 5px; }
#chatlines .chatlinename, #chatlines .chatlinetext { font-size: 1.2em; }
#chatlines h2 { margin: 0; padding-left: 5px; padding-top: 2px; padding-bottom: 2px; color: #999; font-style: italic; font-weight: bold; font-size: 1.2em; }
#chatprompt { font-size: 1.2em; color: #444; float: left; line-height: 22px; width: 35px; text-align: right; }
#chatentryform { margin-left: 40px; }
#chatentrybox { font-size: 1.2em; color: #444;
  padding: 2px; height: 16px; margin: 0; border-left: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
  width: 230px; }
#padchat a#chatloadmore { display: none; font-size: 1.2em; padding: 2px 5px; font-style: italic; }
#padchat #chatloadingmore { display: none; font-size: 1.2em; padding: 2px 5px; font-style: italic;
  color: #999; }
#padchat a#chatloadmore:focus { outline: 0; }

#djs { font-family: monospace;  font-size: 10pt;
  height: 200px;  overflow: auto; border: 1px solid #ccc;
  background: #fee; margin: 0; padding: 6px;
}
#djs p { margin: 0; padding: 0; display: block; }

.modaldialog.cboxreconnecting .modaldialog-inner,
.modaldialog.cboxconnecting .modaldialog-inner {
  background: url(/static/img/jun09/pad/connectingbar.gif) no-repeat center 60px;
  height: 100px;
}
.modaldialog.cboxreconnecting {
  background: #fed;
}
.modaldialog.cboxconnecting,
.modaldialog.cboxdisconnected {
  background: #fdd;
}
.cboxdisconnected #connectionboxinner div { display: none; }
.cboxdisconnected_userdup #connectionboxinner #disconnected_userdup { display: block; }
.cboxdisconnected_initsocketfail #connectionboxinner #disconnected_initsocketfail { display: block; }
.cboxdisconnected_looping #connectionboxinner #disconnected_looping { display: block; }
.cboxdisconnected_slowcommit #connectionboxinner #disconnected_slowcommit { display: block; }
.cboxdisconnected_unauth #connectionboxinner #disconnected_unauth { display: block; }
.cboxdisconnected_unknown #connectionboxinner #disconnected_unknown { display: block; }
.cboxdisconnected_initsocketfail #connectionboxinner #reconnect_advise,
.cboxdisconnected_looping #connectionboxinner #reconnect_advise,
.cboxdisconnected_slowcommit #connectionboxinner #reconnect_advise,
.cboxdisconnected_unknown #connectionboxinner #reconnect_advise { display: block; }
.cboxdisconnected div#reconnect_form { display: block; }
.cboxdisconnected .disconnected h2 { display: none; }
.cboxdisconnected .disconnected .h2_disconnect { display: block; }
.cboxdisconnected_userdup .disconnected h2.h2_disconnect { display: none; }
.cboxdisconnected_userdup .disconnected h2.h2_userdup { display: block; }
.cboxdisconnected_unauth .disconnected h2.h2_disconnect { display: none; }
.cboxdisconnected_unauth .disconnected h2.h2_unauth { display: block; }

#connectionstatus {
  position: absolute; width: 37px; height: 41px; overflow: hidden;
  right: 0;
  z-index: 11;
}
#connectionboxinner .connecting {
  margin-top: 20px;
  font-size: 2.0em; color: #555;
  text-align: center; display: none;
}
.cboxconnecting #connectionboxinner .connecting { display: block; }

#connectionboxinner .disconnected h2 {
  font-size: 1.8em; color: #333;
  text-align: left;
  margin-top: 10px; margin-left: 10px; margin-right: 10px;
  margin-bottom: 10px;
}
#connectionboxinner .disconnected p {
  margin: 10px 10px;
  font-size: 1.2em;
  line-height: 1.1;
  color: #333;
}
#connectionboxinner .disconnected { display: none; }
.cboxdisconnected #connectionboxinner .disconnected { display: block; }

#connectionboxinner .reconnecting {
  margin-top: 20px;
  font-size: 1.6em; color: #555;
  text-align: center; display: none;
}
.cboxreconnecting #connectionboxinner .reconnecting { display: block; }

#reconnect_form button {
  font-size: 12pt;
  padding: 5px;
}

/* We give docbar a higher z-index than its descendant impexp-wrapper in
   order to allow the Import/Export panel to be on top of stuff lower
   down on the page in IE.  Strange but it works! */
#docbar { z-index: 52; }

#impexp-wrapper { width: 650px; right: 10px; }
#impexp-panel { height: 160px; }
.docbarimpexp-closing #impexp-wrapper { z-index: 50; }

#savedrevs-wrapper { width: 100%; left: 0; }
#savedrevs-panel { height: 79px; }
.docbarsavedrevs-closing #savedrevs-wrapper { z-index: 50; }
#savedrevs-wrapper .dbpanel-rightedge { background-position: 0 -10px; }

#options-wrapper { width: 340px; right: 200px; }
#options-panel { height: 114px; }
.docbaroptions-closing #options-wrapper { z-index: 50; }

#security-wrapper { width: 320px; right: 300px; }
#security-panel { height: 130px; }
.docbarsecurity-closing #security-wrapper { z-index: 50; }

#revision-notifier { position: absolute; right: 8px; top: 25px;
  width: auto; height: auto; font-size: 1.2em; background: #ffc;
  border: 1px solid #aaa; color: #444; padding: 3px 5px;
  display: none; z-index: 55; }
#revision-notifier .label { color: #777; font-weight: bold; }

/* We don't ever actually hide the wrapper, even when the panel is
   cloased, so that its contents can always be manipulated accurately. */
.dbpanel-wrapper { position: absolute;
  overflow: hidden; /* animated: */ height: 0; top: 25px; /* /animated */
  z-index: 51; zoom: 1; }
.dbpanel-panel { position: absolute; bottom: 0; width: 100%; }

.dbpanel-middle { margin-left: 7px; margin-right: 7px;
  position: relative; height: 100%; overflow: hidden; zoom: 1; }
.dbpanel-inner { background: #f7f7f7 /* covered up by images */;
  width: 100%; height: 100%; position: absolute; overflow: hidden; top: -10px; }

.dbpanel-top { position: absolute; top: 0; width: 100%;
  height: 400px; background-image: url(/static/img/jun09/pad/docpanelmiddle2.png);
  background-position: left top; }

.dbpanel-bottom { position: absolute; height: 400px;
  bottom: -390px; width: 100%;
  background-image: url(/static/img/jun09/pad/docpanelmiddle2.png);
  background-position: left top;
}

* html .dbpanel-top, * html .dbpanel-bottom { /* for IE 6+ */
  background-color: transparent;
  background-image: url(/static/img/apr09/blank.gif);
  /* scale the image instead of repeating, but it amounts to the same */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/img/jun09/pad/docpanelmiddle2.png", sizingMethod="scale");
}

.dbpanel-leftedge, .dbpanel-rightedge, .dbpanel-botleftcorner, .dbpanel-botrightcorner {
  position: absolute; 
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(/static/img/jun09/pad/docpaneledge2.png);
}

.dbpanel-leftedge, .dbpanel-rightedge { height: 100%; width: 7px; bottom: 11px; }
.dbpanel-botleftcorner, .dbpanel-botrightcorner { height: 11px; width: 7px; bottom: 0; }

.dbpanel-leftedge, .dbpanel-botleftcorner { left: 0; background-position: -7px 0; }
.dbpanel-rightedge, .dbpanel-botrightcorner { right: 0; background-position: 0 0; }

#importexport { position: absolute; top: 5px; left: 0; font-size: 1.2em; color: #444;
  height: 100%; width: 100%; }

* html .dbpanel-leftedge, * html .dbpanel-rightedge, * html .dbpanel-botleftcorner, * html .dbpanel-botrightcorner {
  background-color: transparent;
  background-image: url(/static/img/apr09/blank.gif);
  /* crop the image */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/img/jun09/pad/docpaneledge2.png", sizingMethod="crop");
}
* html .dbpanel-leftedge, * html .dbpanel-botleftcorner { left: -7px;  width: 14px; }

#impexp-importlabel { position: absolute; top: 5px; left: 10px; width: 300px; }

#importform { position: absolute; top: 24px; left: 5px; width: 300px; height: 60px; }
#importformsubmitdiv, #importformfilediv { padding: 5px 5px; }
#importexport .importformenabled {
  background: #cfc;
  border: 1px solid #292;
}
#importexport span.nowrap { white-space: nowrap; }
#importexport #importstatusball { margin-left: 3px; padding-top: 1px; display: none; }
#importexport #importarrow { margin-left: 5px; padding-top: 1px; display: none; }
#importexport .importmessage { border: 1px solid #992;
  background: #ffc; padding: 5px; font-size: 85%; display: none; }
#importexport #importmessagefail { margin-top: 5px; }
#importexport #importmessagesuccess { margin: 0 20px; }
#importexport a.disabledexport {
  color: #333; text-decoration: none;
  opacity: 0.5; filter: alpha(opacity = 50) /*IE*/;
}
#importexport #importfileinput { padding: 2px 0; }
#importexport #importsubmitinput { padding: 2px; }

#impexp-divider { position: absolute; left: 320px; top: 5px; height: 135px; width: 2px;
  background: #ddd; }
#impexp-close { display: block; position: absolute; right: 2px; bottom: 15px;
  width: auto; height: auto; font-size: 85%; color: #444;
  z-index: 61 /* > clickcatcher */}
#impexp-disabled-clickcatcher {
  display: none;
  position: absolute; width: 100%; height: 100%;
  z-index: 60;
}

#impexp-exportlabel { position: absolute; top: 5px; left: 350px;
  width: 300px; }
#exportlinks .exportlink {
  display: block; position: absolute; height: 22px; width: auto;
  background-repeat: no-repeat;
  background-image: url(/static/img/jun09/pad/fileicons.gif);
  line-height: 22px; padding-left: 22px; padding-right: 2px;
}
#exportlinks .n1 { left: 350px; top: 30px; }
#exportlinks .n2 { left: 350px; top: 57px; }
#exportlinks .n3 { left: 350px; top: 84px; }
#exportlinks .n4 { left: 485px; top: 30px; }
#exportlinks .n5 { left: 485px; top: 57px; }
#exportlinks .n6 { left: 485px; top: 84px; }
#exportlinks .exporthrefdoc { background-position: 2px -1px; }
#exportlinks .exporthrefhtml { background-position: 2px -25px; }
#exportlinks .exporthreflink { background-position: 2px -49px; }
#exportlinks .exporthrefodt { background-position: 2px -73px; }
#exportlinks .exporthrefpdf { background-position: 2px -97px; }
#exportlinks .exporthreftxt { background-position: 2px -121px; }

#savedrevisions { position: absolute; top: 0; left: 0; font-size: 1.2em;
  color: #444; height: 100%; width: 100%; }
#savedrevs-scrolly { height: 75px; width: auto; margin-right: 136px;
  overflow: hidden; position: relative; top: 1px;
}
#savedrevs-scrollleft { height: 100%; width: 14px; position: absolute;
  left: 0; top: 0; cursor: pointer;
  background: url(/static/img/jun09/pad/savedrevarrows.gif) no-repeat right top;
}
#savedrevs-scrollright { height: 100%; width: 14px; position: absolute;
  right: 0; top: 0; cursor: pointer;
  background: url(/static/img/jun09/pad/savedrevarrows.gif) no-repeat left top;
}
#savedrevs-scrolly .disabledscrollleft { background-position: right bottom; }
#savedrevs-scrolly .disabledscrollright { background-position: left bottom; }
#savedrevs-scrollouter { margin-left: 14px; margin-right: 14px;
  width: auto; height: 100%; overflow: hidden; position: relative;
}
#savedrevs-scrollinner { position: absolute; width: 1px; height: 100%;
  overflow: visible; right: 0/*...initially*/; top: 0; }
#savedrevisions .srouterbox { width: 120px; height: 100%;
  position: absolute; top: 0;
}
#savedrevisions .srinnerbox { position: relative; top: 8px;
  height: 59px; width: auto; border-left: 1px solid #ddd;
  padding: 0 8px 0 8px; }
#savedrevisions a.srname { display: block; white-space: nowrap;
  text-overflow: ellipsis /*no FF support*/; overflow: hidden;
  text-decoration: none; color: #444; cursor: text;
  padding: 1px; height: 14px;  position: relative; left: -1px;
  width: 100px /*specify for proper overflow in IE*/;
}
#savedrevisions a.srname:hover { text-decoration: none; color: #444;
  border: 1px solid #ccc; padding: 0; }
#savedrevisions .sractions { font-size: 85%; color: #ccc;
 margin-top: 1px; height: 12px; }
#savedrevisions .sractions a { text-decoration: none;
  color: #06c; }
#savedrevisions .sractions a:hover { text-decoration: underline; }
#savedrevisions .srtime { color: #666; font-size: 90%;
 white-space: nowrap; margin-top: 3px; }
#savedrevisions .srauthor { color: #666; font-size: 90%;
 white-space: nowrap; overflow: hidden; text-overflow: ellipsis /*no FF*/;
}
#savedrevisions .srtwirly { position: absolute; display: block;
  bottom: 0; right: 10px; display: none; }
#savedrevisions .srnameedit {
  position: absolute;
}
#savedrevs-savenow { display: block; position: absolute;
  overflow: hidden; height: 0; padding-top: 24px; width: 81px;
  top: 22px; right: 27px;
  background: url(/static/img/jun09/pad/savedrevsgfx2.gif) no-repeat 0 0;
}
#savedrevs-savenow:active { background-position: 0 -24px; }
#savedrevs-close { display: block; position: absolute; right: 7px; bottom: 8px;
  width: auto; height: auto; font-size: 85%; color: #444; }
form#reconnectform { display: none; }

#padoptions { position: absolute; top: 0; left: 0; font-size: 1.2em;
  color: #444; height: 100%; width: 100%; line-height: 15px; }
#options-viewhead { font-weight: bold; position: absolute; top: 10px; left: 15px;
  width: auto; height: auto; }
#padoptions label { display: block; }
#padoptions input { padding: 0; margin: 0; }
#options-colorscheck { position: absolute; left: 15px; top: 34px; width: 15px; height: 15px; }
#options-colorslabel { position: absolute; left: 35px; top: 34px; }
#options-linenoscheck { position: absolute; left: 15px; top: 57px; width: 15px; height: 15px; }
#options-linenoslabel { position: absolute; left: 35px; top: 57px; }
#options-fontlabel { position: absolute; left: 15px; top: 82px; }
#viewfontmenu { position: absolute; top: 80px; left: 90px; width: 110px; }
#options-viewexplain { position: absolute; left: 215px; top: 15px; width: 100px; height: 70px; font-size: .7em;
  padding-left: 10px; padding-top: 10px; border-left: 1px solid #ccc;
  line-height: 20px; font-weight: bold; color: #999; }
#options-close { display: block; position: absolute; right: 7px; bottom: 8px;
  width: auto; height: auto; font-size: 85%; color: #444; }

#padsecurity { position: absolute; top: 0; left: 0; font-size: 1.1em;
  color: #444; height: 100%; width: 100%; line-height: 15px; }
#security-close { display: block; position: absolute; right: 7px; bottom: 8px;
  width: auto; height: auto; font-size: 85%; color: #444; }
#security-passhead { font-weight: bold; position: absolute; top: 90px; left: 15px;
  width: auto; height: auto; }
#security-passbody { position: absolute; left: 75px; top: 90px; }
#security-passwordedit { height: 15px; border: 1px solid #bbb;
  position: absolute; top: 0; left: 15px; width: 120px; }
#security-password a { text-decoration: none; display: block;
  width: auto; height: auto; }
#password-savelink, #password-cancellink {position: absolute; top: 0; }
#security-password a:hover { text-decoration: underline; }
#password-savelink { left: 144px; color: #06c; }
#password-cancellink { left: 180px; color: #666; }
#password-nonedit { left: 15px; position: absolute;
  width: 220px; top: 0; }
#password-setlink { color: #06c; }
#password-clearlink { color: #06c; }
#password-display { height: 15px; width: auto; }
#password-inedit { display: none; }
#password-display, #password-setlink, #password-clearlink {
  float: left; margin-right: 10px;
}
#password-display { font-size: 18px; }
#security-password .nopassword #password-display { font-size: 100%; }
#security-password .nopassword #password-clearlink { display: none; }
#security-password .nopassword #password-setlink { left: 60px; }

#security-access { position: absolute; left: 15px; width: 200px; }
#security-accesshead { font-weight: bold; position: absolute; top: 10px;
  left: 0; width: auto; height: auto; }
#security-access input, #security-access label { position: absolute; }
#security-access input { left: 10px; }
#security-access label { left: 30px; width: 250px; }
#access-private, #access-private-label { top: 35px; }
#access-public, #access-public-label { top: 60px; }
#security-access label { color: #999;  }
#security-access label strong { font-weight: normal; padding-right: 10px;
  color: #444; }

#mainmodals { z-index: 600; /* higher than the modals themselves
                               so that modals are on top in IE */ }

.modalfield { font-size: 1.2em; padding: 1px; border: 1px solid #bbb;}
#mainmodals .editempty { color: #aaa; }


#feedbackbox {
  position: absolute; display: none;
  width: 400px; height: 270px;
  left: 100px/*set in code*/; bottom: 50px;
  z-index: 501; zoom: 1;
}
#feedbackbox-tl, #feedbackbox-tr, #feedbackbox-bl, #feedbackbox-br,
#feedbackbox-hide, #feedbackbox-send, #feedbackbox-back {
  position: absolute; display: block;
  background-repeat: no-repeat;
  background-image: url(/static/img/jun09/pad/feedbackbox2.gif);
}
#feedbackbox-tl { width: 392px;
  height: 262px; left: 0; top: 0;
  background-position: left top; }
#feedbackbox-tr { width: 8px; height: 262px;
  right: 0; top: 0; background-position: right top; }
#feedbackbox-bl { width: 392px;
  height: 8px; left: 0; bottom: 0;
  background-position: left bottom; }
#feedbackbox-br { width: 8px; height: 8px; bottom: 0; right: 0;
  background-position: right bottom; }
#feedbackbox-hide { width: 22px; height: 22px; right: 9px; top: 7px;
  background-position: -569px -6px;
}
#feedbackbox-back { width: 384px;
  height: 254px; left: 8px; top: 8px;
  background-position: -8px -8px;
  background-color: white; }
#feedbackbox-contents { width: 384px;
  height: 254px; left: 8px; top: 8px;
  position: absolute; font-size: 1.4em; color: #444; }
#feedbackbox-contentsinner { padding: 10px; }
#feedbackbox-send { width: 50px; height: 22px; right: 15px; bottom: 15px;
  background-position: -535px -363px;
}
#feedbackbox-email { left: 90px; top: 48px; width: 356px; height: auto; }
#feedbackbox-message { left: 90px; top: 84px; width: 358px; height: 100px; }
#feedbackbox-response { position: absolute; bottom: 15px; left: 15px;
  width: 390px; height: auto; font-size: 1.2em; display: none; }
#feedbackbox .goodresponse { font-weight: bold; color: green; }
#feedbackbox .badresponse { font-weight: bold; color: red; }
#feedbackbox p { margin-bottom: 1em; }
#feedbackbox ul { margin: 1em 0 1em 2em }
#feedbackbox li { padding: 0.3em 0; }
#feedbackbox li a { display: block; font-weight: bold; }
#feedbackbox li a:hover { background: #ffe; }
#feedbackbox a, #feedbackbox li a:visited { color: #47b; }
#feedbackbox tt { font-size: 110%; }

.expand-collapse {
  height: 22px;
  background-image: url(/static/img/jun09/pad/sharedistri.gif);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 17px;
  text-decoration: none;
}
.expand-collapse.expanded {
  background-position: 0 -31px;
}


.modaldialog {
  position: absolute;
  top: 100px;
  left:50%;
  margin-left:-243px;
  width: 485px;
  display: none;
  z-index: 501;
  zoom: 1;
  overflow: hidden;
  background: white;
 border: 1px solid #999;
}
.modaldialog .modaldialog-inner { padding: 10pt; }
.modaldialog .modaldialog-hide {
  float: right;
  background-repeat: no-repeat;
  background-image: url(/static/img/jun09/pad/sharebox4.gif);
  display: block;
  width: 22px; height: 22px;
  background-position: -454px -6px;
  margin-right:-5px;
  margin-top:-5px;
}

.modaldialog label,
.modaldialog h1 {
  color:#222222;
  font-size:125%;
  font-weight:bold;
}

.modaldialog th {
  vertical-align: top;
  text-align: left;
}

.nonprouser #sharebox-stripe { display: none; }

.sharebox-url {
  width: 440px; height: 18px;
  text-align: left;
  font-size: 1.3em;
  line-height: 18px;
  padding: 2px;
}

#sharebox-send {
  float: right;
  background-repeat: no-repeat;
  background-image: url(/static/img/jun09/pad/sharebox4.gif);
  display: block;
  width: 87px; height: 22px;
  background-position: -383px -289px;
}


#viewbarcontents { display: none; }
#viewzoomtitle {
  position: absolute; left: 10px; top: 4px; height: 20px; line-height: 20px;
  width: auto;
}
#viewzoommenu {
  width: 65px;
}
#viewfontmenu {
  position: static;
  width: 20px;
}
#bottomarea {
  height: 28px;
  overflow: hidden;
  position: absolute;
  height: 28px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 1.2em;
  color: #444;
}
#widthprefcheck { position: absolute;
  background-image: url(/static/img/jun09/pad/layoutbuttons.gif);
  background-repeat: no-repeat; cursor: pointer;
  width: 86px; height: 20px; top: 4px; right: 2px; }
.widthprefunchecked { background-position: -1px -1px; }
.widthprefchecked { background-position: -1px -23px; }
#sidebarcheck { position: absolute;
  background-image: url(/static/img/jun09/pad/layoutbuttons.gif);
  background-repeat: no-repeat; cursor: pointer;
  width: 86px; height: 20px; top: 4px; right: 90px; }
.sidebarunchecked { background-position: -1px -45px; }
.sidebarchecked { background-position: -1px -67px; }
#feedbackbutton { display: block; position: absolute; width: 68px;
  height: 0; padding-top: 17px; overflow: hidden;
  background: url(/static/img/jun09/pad/bottomareagfx.gif);
  top: 5px; right: 220px;
}

#modaloverlay {
  z-index: 500; display: none;
  background-repeat: repeat-both;
  width: 100%; position: absolute;
  height: 100%; left: 0; top: 0;
}

* html #modaloverlay { /* for IE 6+ */
  opacity: 1; /* in case this is looked at */
  background-image: none;
  background-repeat: no-repeat;
  /* scale the image */
}

a#topbarmaximize {
 float: right;
 width: 16px;
 height: 16px;
 margin-right:-143px;
 margin-top:4px;
 background: url(/static/img/jun09/pad/maximize_normal.png);
}

.maximized a#topbarmaximize {
 background: url(/static/img/jun09/pad/maximize_maximized.png);
}

#editbarinner h1 {
 line-height: 29px;
 font-size: 16px;
 padding-left: 6pt;
 margin-top: 0;
}

#editbarinner h1 a {
 font-size: 12px;
}

.bigbutton {
 display: block;
 background-color: #a3bde0;
 color: #555555;
 border-style: solid;
 border-width: 2px;
 border-left-color: #d6e2f1;
 border-right-color: #86aee1;
 border-top-color: #d6e2f1;
 border-bottom-color: #86aee1;
 margin: 10pt;
 text-align: center;
 text-decoration: none;
 padding: 50pt;
 font-size: 20pt;
 -moz-border-radius-topleft: 3pt;
 -moz-border-radius-topright: 3pt;
 -moz-border-radius-bottomleft: 3pt;
 -moz-border-radius-bottomright: 3pt;
 -webkit-border-top-left-radius: 3pt;
 -webkit-border-top-right-radius: 3pt;
 -webkit-border-bottom-left-radius: 3pt;
 -webkit-border-bottom-right-radius: 3pt;
}

.modaldialog .bigbutton {
 padding-left: 0;
 padding-right: 0;
 width: 100%;
}

#embed{
display:none;
position:absolute;
top:40px;
font-size:14px;
width:400px;
right: 5px;
z-index: 500;
background-color: #000;
color: white;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.7);
padding: 10px;
-moz-border-radius: 6px;
border-radius: 6px; 
}

#embedcode{
margin-left:10px;
}

#embedinput{
width:375px;
height:24px;
display:inline;
margin-top: 10px;
padding-left:4px;
}

ul#colorpickerswatches
{
  padding-left: 3px;
  padding-top: 5px;
}

ul#colorpickerswatches li 
{
  border: 1px solid #fff; 
  width: 14px; 
  height: 14px; 
  overflow: hidden;
  margin: 3px 6px;
  padding: 0px;
}

ul#colorpickerswatches li:hover
{
  border: 1px solid #000; 
  cursor: pointer;
}

.user{
border: 1px solid #BBBBBB;
padding-left:2px;
padding-right:2px;
height:20px;
border-style:solid;
border-width:1px;
border-color:grey;
background-color:lightblue;
display:inline;
min-width:20px;
display:inline;
cursor:default;
}

.myuser{
border: 1px solid #BBBBBB;
padding-left:2px;
padding-right:2px;
height:20px;
border-style:solid;
border-width:1px;
border-color:grey;
background-color:lightblue;
display:inline;
min-width:20px;
display:inline;
cursor:pointer;
}

.myuser a{
text-decoration:none;
color:#000;
}


.username{
padding-left:4px;
padding-right:4px;
padding-top:2px;
}
