/* adjust page layout to show timeslider */
.maximized #padpage {left:8px; margin-left:0; right:8px; width:auto;}
.fullwidth #padpage {margin-left:6px; margin-right:6px; width:auto;}
.squish1width #padpage {width:800px;}
.squish2width #padpage {width:700px;}

#padmain {top:59px;}
#editorcontainerbox {overflow:auto; top:34px;}  /* #FIXME: the HTML structure is fucking destroyed! */

/* timeslider sprite */
#ui-slider-handle, #playpause_button, #steppers A {background:url(../../static/img/timeslider-sprite.png) 0 0 no-repeat;}

#timeslider {background:#f5f5f5; border-bottom:1px solid #d5d5d5; padding:6px 0; position:absolute; top:0; width:100%;}
#timer {background-color:#aaa; border-radius:3px; color:#fff; font-family:Arial, sans-serif; font-size:11px; left:6px; min-width:101px; padding:2px 4px 1px; position:absolute; top:7px;}
#timeslider-wrapper {float:left; width:100%;}
#timeslider-slider {margin:0 164px 0 6px;}
#timeslider-slider DIV {cursor:pointer;}
#ui-slider-handle {background-position:-142px 0; height:22px; left:0; position:absolute; top:30px; width:13px;}
#ui-slider-bar {background:#ddd; height:6px; margin-top:40px;}

#playpause_button {background-color:#ddd; background-position:-60px 0; border-radius:30px; float:right; height:46px; width:46px;}
#playpause_button:hover {background-position:-60px -40px;}
#playpause_button.pause {background-position:-100px 0;}
#playpause_button.pause:hover {background-position:-100px -40px;}

#steppers {float:right; margin:0 35px 0 10px; width:60px;}
#steppers A {border:1px solid #d5d5d5; box-shadow:0 1px 0 #fff; float:left; height:20px; margin:0 0 4px; width:28px;}
#steppers .group-start {border-radius:3px 0 0 3px;}
#steppers .group-end {border-radius:0 3px 3px 0; border-width:1px 1px 1px 0; width:29px;}

A#leftstar, #leftstar.inactive:hover   {background-position:0 0;}
A#rightstar, #rightstar.inactive:hover {background-position:-30px 0;}
A#leftstep, #leftstep.inactive:hover   {background-position:0 -20px;}
A#rightstep, #rightstep.inactive:hover {background-position:-30px -20px;}
A#leftstar:hover   {background-position:0 -40px;}
A#rightstar:hover  {background-position:-30px -40px;}
A#leftstep:hover   {background-position:0 -60px;}
A#rightstep:hover  {background-position:-30px -60px;}

/* #TODO: this image does not exist */
#timeslider .star {background-image:url(../../static/img/star.png); cursor:pointer; height:16px; position:absolute; top:40px; width:15px;}

.topbarcenter, #docbar {display:none;}  /* hide document title etc. */
#editbarinner H1 {color:#999; font-size:16px; line-height:29px; margin-top:0; padding-left:6px;}
#editbarinner H1 A {font-size:12px;}
#revision_label {background-color:#aaa; border-radius:3px; color:#fff; padding:2px 5px;}

#editbarright #returnbutton {background:0 none; border:0 none; box-shadow:none; padding:4px 6px; width:auto;}
#returnbutton A {color:#999; font-size:12px; line-height:20px;}

#importexport.popup {top:95px; width:140px;}