<div id="imageUploadModalError" class="popup">
  <div class="popup-content">
    <h2 class="error"></h2>
    <br>
    <button id="closeErrorModalButton">Close</button>
  </div>
</div>

<div id="imageUploadModalLoader" class="popup">
  <div class="popup-content">
    <p class="loadingAnimation"></p>
  </div>
</div>
