<!doctype html>
<html>
  <head>
    <title>Admin Dashboard - Etherpad</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="menu">
        <h1><a href="../">Etherpad</a></h1>
        <ul>
        <% e.begin_block("adminMenu");  %>
          <li><a href="plugins">Plugin manager</a> </li>
          <li><a href="settings">Settings</a> </li>
          <li><a href="plugins/info">Troubleshooting information</a> </li>
          <% e.end_block(); %>
        </ul>
      </div>
    </div>
  <div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
  </body>
</html>
