<html>
  <head>
    <title>Etherpad Lite Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <h1>Etherpad Lite Admin Dashboard</h1>
      <div>
      <a href="../admin/plugins">Install and Uninstall plugins</a>
      </div>
      <div>
      <a href="../admin/settings">Modify Server and Plugin Settings</a>
      </div>
    </div>
  </body>
</html>
