<html>
  <head>
    <title>Admin Dashboard - Etherpad lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="menu">
        <h1>Etherpad lite</h1>
        <ul>
        <% e.begin_block("adminMenu");  %>
          <li><a href="admin/plugins">Plugin manager</a> </li>
          <li><a href="admin/settings">Settings</a> </li>
          <li><a href="admin/plugins/info">Troubleshooting information</a> </li>
          <% e.end_block(); %>
        </ul>
      </div>
    </div>
  </body>
</html>
