html {
  border-top: solid green 5pt;
}

body.apidoc {
  width: 60%;
  min-width: 10cm;
  margin: 0 auto;
}

#header {
  padding: 1pc 0;
  color: #111;
}

a,
a:active {
  color: #272;
}
a:focus,
a:hover {
  color: #050;
}

#apicontent a.mark,
#apicontent a.mark:active {
  float: right;
  color: #BBB;
  font-size: 0.7cm;
  text-decoration: none;
}
#apicontent a.mark:focus,
#apicontent a.mark:hover {
  color: #AAA;
}

#apicontent code {
  padding: 1px;
  background-color: #EEE;
  border-radius: 4px;
  border: 1px solid #DDD;
}
#apicontent pre>code {
  display: block;
  overflow: auto;
  padding: 5px;
}

table, th, td {
  text-align: left;
  border: 1px solid gray;
  border-collapse: collapse;
}

th {
  padding: 0.5em;
  background: #EEE;
}

td {
  padding: 0.5em;
}
