<li class="separator acl-write"></li>
<li id="headings" class="acl-write">
    <select id="heading-selection">
        <option value="dummy" selected data-l10n-id="ep_headings.style">Style</option>
        <option value="-1" data-l10n-id="ep_headings.normal">Normal</option>
        <option value="0" data-l10n-id="ep_headings.h1">Heading 1</option>
        <option value="1" data-l10n-id="ep_headings.h2">Heading 2</option>
        <option value="2" data-l10n-id="ep_headings.h3">Heading 3</option>
        <option value="3" data-l10n-id="ep_headings.h4">Heading 4</option>
        <option value="4" data-l10n-id="ep_headings.code">Code</option>
    </select>
</li>
