{
	"ecmaFeatures": {
		"modules": true,
		"spread" : true,
		"restParams" : true
	},
	"env" : {
		"browser" : true,
		"node" : true,
		"es6" : true
	},
	"rules" : {
		"no-unused-vars" : 2,
		"no-undef" : 2
	},
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module"
	}
}
