button, .btn, #yui-picker-panel .button-group .yui-button button
{
  padding: 5px 20px;
  border-radius: 4px;
  line-height: 1.5;
  width: auto;
  border: none !important;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  background: none;
  cursor: pointer;
}

button, select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}


