.chat-content {
  background: none;
  padding: 0;
  background-color: white;
  border: none;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  width: 400px;
  height: 300px;
  background-color: var(--bg-soft-color);
}

#chatbox.stickyChat .chat-content {
  border: none;
  background-color: var(--bg-soft-color);
}

#chatbox.stickyChat.chatAndUsersChat .chat-content {
  box-shadow: none;
}

#titlebar {
  bottom: 0;
  line-height: 44px;
  height: 44px;
  padding: 0 7px;
  z-index: 20000;
  border-bottom: 1px solid var(--border-color);
}

#titlelabel, #chatlabel {
  text-transform: uppercase;
  font-weight: bold;
}

#titlebar #titlelabel { font-size: 16px; }
#chatlabel { margin-right: 15px; }

#chattext {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.plugin-ep_author_neat #chattext {
  padding: 10px;
}

.plugin-ep_author_neat #chattext.authorColors p,
.plugin-ep_author_neat #chattext.authorColors span {
  background-color: transparent !important;
}

#chatbox.stickyChat .chat-content #chattext {
  padding: 0px;
}

#chatinputbox {
  padding: 8px;
}

.plugin-ep_author_neat #chatbox.stickyChat .chat-content #chattext {
  padding: 5px 3px;
}

#chaticon {
  border: none;
  padding: 10px 20px;
  background-color: var(--bg-soft-color);
  color: var(--text-color);
  right: 30px;
}

@media (max-width: 720px) {
  #chaticon {
    right: 0;
  }

  .stick-to-screen-btn { display: none; }
}