#chatbox {
  background: none;
  padding: 0;
  background-color: white;
  border: none;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  width: 400px;
  height: 300px;
  background-color: #f9f9f9 !important;
}

#chatbox.stickyChat {
  width: 193px !important;
  border: none !important;
}

#chatbox.stickyChat.chatAndUsersChat{
  margin-top: 181px;
  box-shadow: none;
  border-top: 1px solid #d2d2d2 !important;
  padding: 0!important;
}

#titlebar {
  bottom: 0;
  line-height: 39px;
  height: 44px;
  padding: 0 7px;
  z-index: 20000;
  border-bottom: 1px solid #d2d2d2;
}

#titlelabel, #chatlabel {
  text-transform: uppercase;
  font-weight: bold;
}

#titlelabel { font-size: 16px; }
#chatlabel { margin-right: 15px; }

#chattext {
  top: 45px;
  font-size: 13px;
  bottom: 52px;
  overflow-y: auto;
  padding: 0;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.plugin-ep_author_neat #chattext {
  padding: 10px;
}

.plugin-ep_author_neat #chattext.authorColors p,
.plugin-ep_author_neat #chattext.authorColors span {
  background-color: transparent !important;
}

#chattext p b {
  color: #4c4c4c;
}

#chattext::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
}

#chattext::-webkit-scrollbar {
  width: 7px;
}

#chattext::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C5C5C5;
}

#chatbox.stickyChat #chattext {
  padding: 0px;
}

#chatinputbox {
  padding: 8px;
}

#chatinput {
  width: calc(100% - 20px);
  float: right;
}

.plugin-ep_author_neat #chatbox.stickyChat #chattext {
  padding: 5px 3px;
}

#chaticon {
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border: none;
  padding: 10px 20px;
  right: 30px;
}

@media (max-width: 720px) {
  #chaticon {
    right: 0;
    bottom: 44px;
  }

  #chatbox {
    width: 100%;
    right: 0;
  }

  #titlesticky { display: none; }
}