#input_title, #chatinput, .hyperlink-dialog>.hyperlink-url {
  border: 1px solid #d2d2d2;
  height: 18px;
  border-radius: 3px;
  padding: 8px 10px;
  background: none !important;
  background-color: white !important;
  box-shadow: none !important;
}