#gritter-container {
  top: 20px;
  bottom: auto;
}
.gritter-item:not(.error) .popup-content{
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.gritter-item .popup-content {
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
}
.gritter-item p {
  margin: 0;
}
.gritter-item .gritter-title {
  margin-bottom: 10px;
}
.gritter-item .gritter-close {
  margin-left: 10px;
  margin-right: -5px;
}
.gritter-item:not(.error) .gritter-close .buttonicon {
  color: var(--bg-color);
}

.gritter-item.popup > .popup-content {
  transform: scale(0.8) translateY(-100px);
}

.gritter-item.popup.popup-show > .popup-content {
  transform: scale(1) translateY(0);
  transition: all 0.4s cubic-bezier(0.74, -0.05, 0.27, 1.75)
}