.gritter-item {
  margin-bottom: 10px;
  color: white;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
}

.gritter-item .gritter-close {
  margin-left: 10px;
  margin-right: -5px;
}
.gritter-item .gritter-close .buttonicon {
  color: white;
}