#importmessageabiword {
  font-style: italic;
}
#importmessageabiword > a {
  font-weight: bold;
  text-decoration: underline;
}

.exporttype {
  margin-left: 5px;
  margin-bottom: 10px;
}

#importmessagefail {
  margin-top: 10px;
}

#importsubmitinput[disabled] { opacity: .6; }