table#otheruserstable {
  margin-top: 20px;
}

.popup#users.chatAndUsers > .popup-content {
  padding: 20px 10px;
  height: 250px;
  border-left: none;
  transition: none;
}
.popup#users.chatAndUsers .popup-content {
  background-color: white;
  color: #374256;
}
.popup#users.chatAndUsers #mycolorpicker.popup {
  right: calc(100% + 30px);
  top: 15px;
}
.popup#users.chatAndUsers #mycolorpicker.popup .btn-default {
  color: #374256;
}

#otheruserstable .swatch {
  border: none !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-left: 1px;
  margin-right: 15px;
}

#myusernameform {
  margin-left: 35px;
}

input#myusernameedit {
  min-width: 110px;
  border: none !important;
  background-color: transparent !important;
  border-bottom: 1px solid #ddd !important;
  border-radius: 0;
  padding-bottom: 5px;
}

#myswatch {
  border-radius: 50%;
}

#colorpicker {
  margin-bottom: 25px;
}

#mycolorpickerpreview {
  border-radius: 50%;
}

@media (max-width: 720px) {
  #mycolorpicker {
    right: 0;
    left: initial;
  }
}