table#otheruserstable {
  margin-top: 10px !important;
}

#otheruserstable .swatch {
  border: none !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-left: 1px;
  margin-right: 15px;
}

#myusernameform {
  margin-left: 35px;
}

#myusernameedit {
  width: 110px;
}

#myswatchbox {
  background: none;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  border: none !important;
}

#myswatch {
  border-radius: 50%;
}

#nootherusers {
  padding: 0;
}

#mycolorpicker {
  width: auto;
  height: auto;
  left: -280px;
}

#colorpicker {
  margin-bottom: 25px;
}

#mycolorpickercancel {
  padding-left: 3px;
}

#mycolorpickersave {
  color: #fff;
}

#mycolorpickerpreview {
  float: right;
  top: 0;
  left: 0;
  position: relative;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

@media (max-width: 720px) {
  #users {
    bottom: 42px;
    top: initial !important;
    height: auto !important;
  }

  #mycolorpicker {
    width: auto;
    height: auto;
    right: 0;
    bottom: 42px;
    left: initial;
    top: initial !important;
  }
}

#users.chatAndUsers {
  width: 172px!important;
  box-shadow: none;
  border: none !important;
  padding: 10px;
  padding-top: 15px;
}

#users.chatAndUsers #myusernameedit {
  width: calc(100% - 10px);
}