body {
  margin: 0;
  color: #333;
  font: 14px helvetica, sans-serif;
  background: #ddd;
  background: -webkit-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -moz-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -ms-radial-gradient(circle,#aaa,#eee 60%) center fixed;
  background: -o-radial-gradient(circle,#aaa,#eee 60%) center fixed;
}

#topborder {
     border-top: 8px solid rgba(51, 51, 51, 0.8);
     position: fixed;
     top: 0px;
     width: 100%;
}

div.menu {
   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
   box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3);
   display: block;
   float: left;
   height: 100%;
   padding: 15px;
   position: fixed;
   width: 220px;
}

div.menu li {
  list-style: none;
  margin-left: 3px;
  line-height: 1.6
}

div.innerwrapper {
  display: block;
  float: right;
  opacity: 0.9;
  padding: 15px;
  max-width: 860px;
  bordr-radius: 0 0 7px 7px;
  margin-left:250px;
  min-width:400px;
}

#wrapper {
  background: none repeat scroll 0px 0px #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
  max-width: 1150px;
  min-height: 100%;
  overflow: auto;
  padding-left: 15px;
  opacity: .9;
}
h1 {
  font-size: 29px;
}
h2 {
  font-size: 24px;
}
.separator {
  margin: 10px 0;
  height: 1px;
  background: #aaa;
  background: -webkit-linear-gradient(left, #fff, #aaa 20%, #aaa 80%, #fff);
  background: -moz-linear-gradient(left, #fff, #aaa 20%, #aaa 80%, #fff);
  background: -ms-linear-gradient(left, #fff, #aaa 20%, #aaa 80%, #fff);
  background: -o-linear-gradient(left, #fff, #aaa 20%, #aaa 80%, #fff);
}
form {
  margin-bottom: 0;
}
#inner {
  width: 300px;
  margin: 0 auto;
}
input {
  font-weight: bold;
  font-size: 15px;
}
input[type="button"] {
  padding: 4px 6px;
  margin: 0;
}
input[type="button"].do-install, input[type="button"].do-uninstall {
  float: right;
  width: 100px;
}
input[type="text"] {
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  *padding: 0; /* IE7 hack */
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  margin: 0 0 5px 0;
  max-width: 500px;
}
table {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-spacing: 0;
  width: 100%;
  margin: 20px 0;
}
table thead tr {
  background: #eee;
}
td, th {
  padding: 5px;
}
.template {
  display: none;
}
#progress {
  position: absolute;
  bottom: 50px;
}
.settings {
  margin-top:10px;
  width:100%;  
  min-height:600px;
}
#response{
  display:inline;
}

a:link, a:visited, a:hover, a:focus {
  color: #333333;
  text-decoration: none;
  border-bottom: #333333 1px dotted;
}

a:focus, a:hover {
  border-bottom: #333333 1px solid;
}
