table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.template {
  display: none;
}
.dialog {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 500px;
  margin-left: -350px;
  margin-top: -250px;
  border: 3px solid #999999;
  background: #eeeeee;
}
.dialog .title {
  margin: 0;
  padding: 2px;
  border-bottom: 3px solid #999999;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.dialog .title .close {
  float: right;
}
.dialog .history {
  background: #222222;
  color: #eeeeee;
  position: absolute;
  top: 41px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 2px;
  overflow: auto;
}

