/* These CSS rules are included in both the outer and inner ACE iframe.
   Also see inner.css, included only in the inner one.
*/
html { cursor: text; } /* in Safari, produces text cursor for whole doc (inc. below body) */
span { cursor: auto; }

::selection {
  background: #acf;
}
::-moz-selection {
  background: #acf;
}

a { cursor: pointer !important; }

ul, ol, li {
  padding: 0;
  margin: 0;
}
ul { margin-left: 1.5em; }
ul ul { margin-left: 0 !important; }
ul.list-bullet1 { margin-left: 1.5em; }
ul.list-bullet2 { margin-left: 3em; }
ul.list-bullet3 { margin-left: 4.5em; }
ul.list-bullet4 { margin-left: 6em; }
ul.list-bullet5 { margin-left: 7.5em; }
ul.list-bullet6 { margin-left: 9em; }
ul.list-bullet7 { margin-left: 10.5em; }
ul.list-bullet8 { margin-left: 12em; }

ul { list-style-type: disc; }
ul.list-bullet1 { list-style-type: disc; }
ul.list-bullet2 { list-style-type: circle; }
ul.list-bullet3 { list-style-type: square; }
ul.list-bullet4 { list-style-type: disc; }
ul.list-bullet5 { list-style-type: circle; }
ul.list-bullet6 { list-style-type: square; }
ul.list-bullet7 { list-style-type: disc; }
ul.list-bullet8 { list-style-type: circle; }

ol.list-number1 { margin-left: 1.9em; }
ol.list-number2 { margin-left: 3em; }
ol.list-number3 { margin-left: 4.5em; }
ol.list-number4 { margin-left: 6em; }
ol.list-number5 { margin-left: 7.5em; }
ol.list-number6 { margin-left: 9em; }
ol.list-number7 { margin-left: 10.5em; }
ol.list-number8 { margin-left: 12em; }

ol { list-style-type: decimal; }
ol.list-number1 { list-style-type: decimal; }
ol.list-number2 { list-style-type: lower-latin; }
ol.list-number3 { list-style-type: lower-roman; }
ol.list-number4 { list-style-type: decimal; }
ol.list-number5 { list-style-type: lower-latin; }
ol.list-number6 { list-style-type: lower-roman; }
ol.list-number7 { list-style-type: decimal; }
ol.list-number8 { list-style-type: lower-latin; }

ul.list-indent1 { margin-left: 1.5em; }
ul.list-indent2 { margin-left: 3em; }
ul.list-indent3 { margin-left: 4.5em; }
ul.list-indent4 { margin-left: 6em; }
ul.list-indent5 { margin-left: 7.5em; }
ul.list-indent6 { margin-left: 9em; }
ul.list-indent7 { margin-left: 10.5em; }
ul.list-indent8 { margin-left: 12em; }

ul.list-indent1 { list-style-type: none; }
ul.list-indent2 { list-style-type: none; }
ul.list-indent3 { list-style-type: none; }
ul.list-indent4 { list-style-type: none; }
ul.list-indent5 { list-style-type: none; }
ul.list-indent6 { list-style-type: none; }
ul.list-indent7 { list-style-type: none; }
ul.list-indent8 { list-style-type: none; }

body {
  margin: 0;
  white-space: nowrap;
}				 

#outerdocbody {
  background-color: #fff;
}
body.grayedout { background-color: #eee !important }

#innerdocbody {
  font-size: 12px; /* overridden by body.style */
  font-family: monospace; /* overridden by body.style */
  line-height: 16px; /* overridden by body.style */
}

body.doesWrap {
  white-space: normal;
}

#innerdocbody {
  padding-top: 1px; /* important for some reason? */
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 1px /* prevents characters from looking chopped off in FF3 -- Removed because it added too much whitespace */;
  overflow: hidden;
  /* blank 1x1 gif, so that IE8 doesn't consider the body transparent */
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

#sidediv {
  font-size: 11px;
  font-family: monospace;
  line-height: 16px; /* overridden by sideDiv.style */
  padding-top: 8px; /* EDIT_BODY_PADDING_TOP */
  padding-right: 3px; /* LINE_NUMBER_PADDING_RIGHT - 1 */
  position: absolute;
  width: 20px; /* MIN_LINEDIV_WIDTH */
  top: 0;
  left: 0;
  cursor: default;
  color: white;
}

#sidedivinner {
  text-align: right;
}

.sidedivdelayed { /* class set after sizes are set */
  background-color: #eee;
  color: #888 !important;
  border-right: 1px solid #ccc;
}
.sidedivhidden {
  display: none;
}

#outerdocbody iframe {
  display: block; /* codemirror says it suppresses bugs */
  position: relative;
  left: 32px; /* MIN_LINEDIV_WIDTH + LINE_NUMBER_PADDING_RIGHT + EDIT_BODY_PADDING_LEFT */
  top: 7px; /* EDIT_BODY_PADDING_TOP - 1*/
  border: 0;
  width: 1px; /* changed programmatically */
  height: 1px; /* changed programmatically */
}

#outerdocbody .hotrect {
  border: 1px solid #999;
  position: absolute;
}

/* cause "body" area (e.g. where clicks are heard) to grow horizontally with text */
body.mozilla, body.safari {
  display: table-cell;
}

body.doesWrap {
  display: block !important;
}

.safari div {
  /* prevents the caret from disappearing on the longest line of the doc */
  padding-right: 1px;
}

p {
  margin: 0;
}

#linemetricsdiv {
  position: absolute;
  left: -1000px;
  top: -1000px;
  color: white;
  z-index: -1;
  font-size: 12px; /* overridden by lineMetricsDiv.style */
  font-family: monospace; /* overridden by lineMetricsDiv.style */
}

#overlaysdiv { position: absolute; left: -1000px; top: -1000px; }

/* Stops super long lines without being spaces such as aaaaaaaaaaaaaa*100 breaking the editor
   Commented out because it stops IE from being able to render the document, crazy IE bug is crazy. */
/*
.ace-line{
  overflow:hidden; 
}
*/
