#editorcontainerbox {
  overflow: auto;
  top: 40px;
  position: static;
}
#padcontent {
  font-size: 12px;
  padding: 10px;
}
#timeslider-wrapper {
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}
#timeslider-left {
  background-image: url(../../static/img/timeslider_left.png);
  height: 63px;
  left: 0;
  position: absolute;
  width: 134px;
}
#timeslider-right {
  background-image: url(../../static/img/timeslider_right.png);
  height: 63px;
  position: absolute;
  right: 0;
  top: 0;
  width: 155px;
}
#timeslider {
  background-image: url(../../static/img/timeslider_background.png);
  height: 63px;
  margin: 0 9px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#timeslider #timeslider-slider {
  height: 61px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}
#ui-slider-handle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image: url(../../static/img/crushed_current_location.png);
  cursor: pointer;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}
#ui-slider-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 35px;
  margin-left: 5px;
  margin-right: 150px;
  position: relative;
  top: 20px;
}
#playpause_button,
#playpause_button_icon {
  height: 47px;
  position: absolute;
  width: 47px;
}
#playpause_button {
  background-image: url(../../static/img/crushed_button_undepressed.png);
  right: 77px;
  top: 9px;
}
#playpause_button_icon {
  background-image: url(../../static/img/play.png);
  left: 0;
  top: 0;
}
.pause#playpause_button_icon {
  background-image: url(../../static/img/pause.png)
}
#leftstar,
#rightstar,
#leftstep,
#rightstep {
  background: url(../../static/img/stepper_buttons.png) 0 0 no-repeat;
  height: 21px;
  overflow: hidden;
  position: absolute;
}
#leftstar {
  background-position: 0 -44px;
  right: 34px;
  top: 8px;
  width: 30px;
}
#rightstar {
  background-position: -29px -44px;
  right: 5px;
  top: 8px;
  width: 29px;
}
#leftstep {
  background-position: 0 -22px;
  right: 34px;
  top: 20px;
  width: 30px;
}
#rightstep {
  background-position: -29px -22px;
  right: 5px;
  top: 20px;
  width: 30px;
}
#timeslider .star {
  background-image: url(../../static/img/star.png);
  cursor: pointer;
  height: 16px;
  position: absolute;
  top: 40px;
  width: 15px;
}
#timeslider #timer {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  left: 7px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}
.topbarcenter,
#docbar {
  display: none
}
#padmain {
  top: 0px !important
}
#editbar{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#editbarright {
  float: right
}
#settings,
#importexport,
#embed,
#connectivity,
#users {
    top: 62px;
}
#importexport .popup {
  width: 185px
}
#importexport {
  top: 100px;
  width: 185px;
  position: fixed;
}
.timeslider-bar {
  background: #f7f7f7;
  background: -webkit-linear-gradient(#f7f7f7, #f1f1f1 80%);
  background: -moz-linear-gradient(#f7f7f7, #f1f1f1 80%);
  background: -o-linear-gradient(#f7f7f7, #f1f1f1 80%);
  background: -ms-linear-gradient(#f7f7f7, #f1f1f1 80%);
  background: linear-gradient(#f7f7f7, #f1f1f1 80%);
  overflow: hidden;
  padding-top: 3px;
  width: 100%;
}
.timeslider-bar #editbar {
  border-bottom: none;
  float: right;
  width: 170px;
  width: initial;
}
.timeslider-bar h1 {
  margin: 5px
}
.timeslider-bar p {
  margin: 5px
}
#timeslider-top {
  width: 100%;
  position: fixed;
  z-index: 1;
}
#authorsList .author {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
#authorsList .author-anonymous {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
#padeditor {
  position: static
}
/* lists */
.list-bullet2,
.list-indent2,
.list-number2 {
  margin-left: 3em
}
.list-bullet3,
.list-indent3,
.list-number3 {
  margin-left: 4.5em
}
.list-bullet4,
.list-indent4,
.list-number4 {
  margin-left: 6em
}
.list-bullet5,
.list-indent5,
.list-number5 {
  margin-left: 7.5em
}
.list-bullet6,
.list-indent6,
.list-number6 {
  margin-left: 9em
}
.list-bullet7,
.list-indent7,
.list-number7 {
  margin-left: 10.5em
}
.list-bullet8,
.list-indent8,
.list-number8 {
  margin-left: 12em
}
/* unordered lists */
UL {
  list-style-type: disc;
  margin-left: 1.5em;
}
UL UL {
  margin-left: 0 !important
}
.list-bullet2,
.list-bullet5,
.list-bullet8 {
  list-style-type: circle
}
.list-bullet3,
.list-bullet6 {
  list-style-type: square
}
.list-indent1,
.list-indent2,
.list-indent3,
.list-indent5,
.list-indent5,
.list-indent6,
.list-indent7,
.list-indent8 {
  list-style-type: none
}
/* ordered lists */
OL {
  list-style-type: decimal;
  margin-left: 1.5em;
}
.list-number2,
.list-number5,
.list-number8 {
  list-style-type: lower-latin
}
.list-number3,
.list-number6 {
  list-style-type: lower-roman
}
/* IE 6/7 fixes */
* HTML #ui-slider-handle {
  background-image: url(../../static/img/current_location.gif)
}
* HTML #timeslider .star {
  background-image: url(../../static/img/star.gif)
}
* HTML #playpause_button_icon {
  background-image: url(../../static/img/play.gif)
}
* HTML .pause#playpause_button_icon {
  background-image: url(../../static/img/pause.gif)
}
