<li class="separator acl-write"></li>

<li data-type="button" data-key="alignLeft" data-l10n-id="ep_align.toolbar.left.title">
  <a class="grouped-left ep_align" data-align="0" data-l10n-id="ep_align.toolbar.left.title" title="Align Left" aria-label="Align Left">
    <button class="buttonicon buttonicon-align-left ep_align_left" data-align="0" aria-label="Align Left"></button>
  </a>
</li>

<li data-type="button" data-key="alignCenter" data-l10n-id="ep_align.toolbar.center.title">
  <a class="grouped-middle ep_align" data-align="1" data-l10n-id="ep_align.toolbar.center.title" title="Align Center" aria-label="Align Center">
    <button class="buttonicon buttonicon-align-center ep_align_center" data-align="1" aria-label="Align Center"></button>
 </a>
</li>

<li data-type="button" data-key="alignRight" data-l10n-id="ep_align.toolbar.right.title">
  <a class="grouped-middle ep_align" data-align="3" data-l10n-id="ep_align.toolbar.right.title" title="Align Right" aria-label="Align Right">
    <button class="buttonicon buttonicon-align-right ep_align_right" data-align="3" aria-label="Align Right"></button>
  </a>
</li>

<li data-type="button" data-key="alignJustify" data-l10n-id="ep_align.toolbar.justify.title">
  <a class="grouped-right ep_align" data-align="2" data-l10n-id="ep_align.toolbar.justify.title" title="Align Justify" aria-label="Align Justify">
    <button class="buttonicon buttonicon-align-justify ep_align_justify" data-align="2" aria-label="Align Justify"></button>
  </a>
</li>
