<p>
  <input type="checkbox" id="options-stats" checked></input>
  <!-- <label for="options-stats" data-l10n-id="ep_wordcount.stats_entry.show_pad_and_author_stats">Show Pad and Author stats</label> -->
</p>
