<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="src/node/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
        <rules>
            <!-- uncomment this section to enable debugging
            <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                <match url="iisnode"/>
                <action type="Rewrite" url="src/node/iisnode" />
            </rule>
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                <match url="^server.js\/debug[\/]?" />
            </rule>
            -->
            <rule name="StaticContent">
                 <action type="Rewrite" url="public{{REQUEST_URI}}"/>
            </rule>
            <rule name="DynamicContent">
                 <conditions>
                      <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                 </conditions>
                <action type="Rewrite" url="src/node/server.js" />
            </rule>
        </rules>
    </rewrite>

  </system.webServer>
</configuration>
