name: "Upgrade from latest release"

# any branch is useful for testing before a PR is submitted
on: [push, pull_request]

permissions:
  contents: read

jobs:
  withpluginsLinux:
    # run on pushes to any branch
    # run on PRs from external forks
    if: |
      (github.event_name != 'pull_request')
      || (github.event.pull_request.head.repo.id != github.event.pull_request.base.repo.id)
    name: Linux with Plugins
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18, 20]
    steps:
      -
        name: Check out latest release
        uses: actions/checkout@v3
        with:
          ref: master
      -
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: |
            src/package-lock.json
            src/bin/doc/package-lock.json
      # FIXME after 1.9.2
      # After 1.9.2 is released, we need to remove '--legacy-peer-deps --no-save'
      -
        name: Install Etherpad plugins
        run: >
          npm install --legacy-peer-deps --no-save
          ep_align
          ep_author_hover
          ep_cursortrace
          ep_font_size
          ep_hash_auth
          ep_headings2
          ep_image_upload
          ep_markdown
          ep_readonly_guest
          ep_set_title_on_pad
          ep_spellcheck
          ep_subscript_and_superscript
          ep_table_of_contents
      -
        name: Install all dependencies and symlink for ep_etherpad-lite
        run: src/bin/installDeps.sh
      -
        name: Run the backend tests
        run: cd src && npm test
      # Because actions/checkout@v3 is called with "ref: master" and without
      # "fetch-depth: 0", the local clone does not have the ${GITHUB_SHA}
      # commit. Fetch ${GITHUB_REF} to get the ${GITHUB_SHA} commit. Note that a
      # plain "git fetch" only fetches "normal" references (refs/heads/* and
      # refs/tags/*), and for pull requests none of the normal references
      # include ${GITHUB_SHA}, so we have to explicitly tell Git to fetch
      # ${GITHUB_REF}.
      -
        name: Fetch the new Git commits
        run: git fetch --depth=1 origin "${GITHUB_REF}"
      -
        name: Upgrade to the new Git revision
        # For pull requests, ${GITHUB_SHA} is the automatically generated merge
        # commit that merges the PR's source branch to its destination branch.
        run: git checkout "${GITHUB_SHA}"
      -
        name: Temporary remove ./node_modules; Remove this after 1.9.2 release
        run: rm -rf ./node_modules
      -
        name: Install the ep_etherpad-lite package from ./src
        run: src/bin/installDeps.sh
      -
        name: Install Etherpad plugins again; Remove this after 1.9.2 release
        run: >
          npm install
          ep_align
          ep_author_hover
          ep_cursortrace
          ep_font_size
          ep_hash_auth
          ep_headings2
          ep_image_upload
          ep_markdown
          ep_readonly_guest
          ep_set_title_on_pad
          ep_spellcheck
          ep_subscript_and_superscript
          ep_table_of_contents
      -
        name: Run the backend tests
        run: cd src && npm test
      -
        name: Install Cypress
        run: npm install cypress
      -
        name: Run Etherpad & Test Frontend
        run: |
          node src/node/server.js &
          curl --connect-timeout 10 --max-time 20 --retry 5 --retry-delay 10 --retry-max-time 60 --retry-connrefused http://127.0.0.1:9001/p/test
          ./node_modules/cypress/bin/cypress run --config-file src/tests/frontend/cypress/cypress.config.js
